<section class="content bgcolor-3">
  <h2>Manami</h2>
  <span class="input input--manami">
    <input class="input__field input__field--manami" type="text" id="input-32" />
    <label class="input__label input__label--manami" for="input-32">
      <span class="input__label-content input__label-content--manami">Username</span>
    </label>
  </span>
  <span class="input input--manami">
    <input class="input__field input__field--manami" type="text" id="input-33" />
    <label class="input__label input__label--manami" for="input-33">
      <span class="input__label-content input__label-content--manami">Website</span>
    </label>
  </span>
  <span class="input input--manami">
    <input class="input__field input__field--manami" type="text" id="input-34" />
    <label class="input__label input__label--manami" for="input-34">
      <span class="input__label-content input__label-content--manami">Invitation Code</span>
    </label>
  </span>
</section>


<!-- https://tympanus.net/Development/SelectInspiration/index2.html -->