<footer class="clearfix">
	<div class="footer-inner clearfix">
		<figure class="wordmark">
			{{ partial "svg/wordmark-white.svg" . }}
		</figure>

		<div class="platforms">
			<a target="_blank" href="https://www.linkedin.com/in/bowangcmu/">{{ partial "svg/linkedin.svg" . }}</a>
			<a target="_blank" href="https://unsplash.com/@mrbo">{{ partial "svg/unsplash.svg" . }}</a>
			<a target="_blank" href="https://www.instagram.com/callmemrbo/">{{ partial "svg/instagram.svg" . }}</a>
		</div>
	  <h6 class="trademark-line">established. 2016. nyc.</h6>
	</div>
</footer> 