<nav id="nav" class="nav">
  <div id="navStart" class="nav-start clearfix">
  	<a href="{{ .Site.BaseURL }}">
      {{ partial "svg/signature.svg" . }}
    </a>
  </div>
  
  <div id="navIcon" class="nav-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div id="expendedMenu" class="expanded-menu">
    <ul class="menu">
		{{ range .Site.Sections.ByWeight }}
		  <li class="item {{ .Params.code }}"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
    </ul>
  </div>
</nav>