<html>
	<head>
		<title>同感 • 因为你的真实和有趣</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="shortcut icon" href="../images/simul-logo.png">
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>

	<body class="is-preload">
		<header>
			<div class="container">
				<img src="../images/HeaderLogo.png">
				<h3>因为你的真实和有趣</h3>
			</div>
		</header>

		<div class="content-wrapper">
			<div class="content" style="height: auto;">
				<h1>{{ .Title }}</h1>
				{{ .Content }}
			</div>
		</div>
	
		
		<section class="footer">
			<div class="footer-inner">
				<img src="../images/FooterLogo.png" alt="" />
				<div class="text-wrapper">
					<h3>关于我们</h3>
					<p>同感科技（北京）有限公司（简称"同感"）是一家崇尚人文精神的互联网科技公司。同感的愿景是塑造一个充满人文关怀的世界，并以促进人与人之间的真实连接为使命。我们致力于利用技术的力量推动这一愿景的实现，并坚信因此能推动深远的社会进步，增进人类的美好和幸福。</p>
					<p>同感的创始团队在人机交互设计，媒体与市场营销，大数据和移动社交等领域具有丰富的经验和独到的见解。团队成员来自于国内外顶级机构以及学府，包括卡耐基梅隆大学、中国科学院、北京大学、Google Ventures (旗下投资公司)、中央音乐学院、36氪。</p>
					<p>随着社会的不断进步，精神需求的满足将会成为下一个十年的消费热点。而城市空间的持续升级，已经为丰富优质的现场体验提供了必要的基础设施条件。同感目前的主营业务为移动互联网服务及应用，包括手机App和微信小程序。这些互联网产品将为广大用户分享现场体验提供最优的工具和平台。与此同时，同感将与文化艺术领域多家机构进行深入合作，推动文化艺术演出在现代生活中的普及和推广。</p>
					<p>2019年，将会因为同感的到来而变的特别。</p>
				</div>
			</div>
		</section>

	</body>
</html>
