/* ==========================================================================
   "mr.bo & co" TYPOGRAPHY
   ========================================================================== */

/* CSS variables (not actually mutable) */
$base-size: 16px; /* browser default */


/* hosted font */
@font-face {font-family: Caslon; src: url('../_fonts/Caslon-Pro-100-normal.ttf') format('truetype'); font-weight: 100; font-style: normal; }
@font-face {font-family: Caslon; src: url('../_fonts/Caslon-Pro-100-italic.ttf') format('truetype'); font-weight: 100; font-style: italic; }
/* @font-face {font-family: Caslon; src: url('../_fonts/Caslon-Pro-200-normal.ttf') format('truetype'); font-weight: 200; font-style: normal; } */
/* @font-face {font-family: Caslon; src: url('../_fonts/Caslon-Pro-200-italic.ttf') format('truetype'); font-weight: 200; font-style: italic; } */
/* @font-face {font-family: Caslon; src: url('../_fonts/Caslon-Pro-300-normal.ttf') format('truetype'); font-weight: 300; font-style: normal; } */
/* @font-face {font-family: Caslon; src: url('../_fonts/Caslon-Pro-300-italic.ttf') format('truetype'); font-weight: 300; font-style: italic; } */

$header-font: Caslon, 'EB Garamond', 'Crimson Text', serif;
$content-font: 'Ubuntu', Helvetica, Arial, sans-serif;



/* ==========================================================================
   "mr.bo & co" BRAND COLOR
   ========================================================================== */

/* https://github.com/postcss/postcss-color-function#list-of-color-adjuster */

$primary-black: rgb(0, 0, 0);
$secondary-black: rgb(9,7,11);

$primary-white: rgb(255,255,255);
$secondary-white: rgb(249,247,250);

$gent-pink: rgb(255, 191, 202);
$linen-grey: rgb(245, 246, 247);
$sweet-green: rgb(129, 158, 10);
$soothing-yellow: rgb(254,211,95);
/* $sunflower-gold:  */


/* ==========================================================================
   Media Queries and custom media definitions
   ========================================================================== */

$mobile-s-width: 280px;
$mobile-m-width: 359px;
$mobile-l-width: 408px;
$tablet-width: 640px;
$desktop-width-s: 960px;
$desktop-width-m: 1440px;

/* @custom-media --mobile-s (width <= 359px); */
@custom-media --mobile-m  (width >= 359px);
@custom-media --mobile-l  (width >= 408px);
@custom-media --tablet    (width >= 640px);
@custom-media --desktop-s (width >= 960px);
@custom-media --desktop-m (width >= 1440px);
@custom-media --desktop-l (width >= 1920px);


/* ==========================================================================
   VISUAL
   ========================================================================== */

$box-shadow: 0px 1px 1px 0 rgba(25,25,25,0.4);
$box-shadow-heavy: 0 2px 4px 0 rgba(0,0,0,0.50);



/* ==========================================================================
   INTERACTION
   ========================================================================== */

$mrbo-primary-transition-duration: 300ms;







/* ==========================================================================
   SYMBOLS
   ========================================================================== */

$arrow-right: '❯';
$neo-quote-left: '「';
$neo-quote-right: '」';


/* ==========================================================================
   Mixins
   ========================================================================== */
/* https://webdesign.tutsplus.com/tutorials/postcss-deep-dive-preprocessing-with-precss--cms-24583 */




/* ==========================================================================
   Extends
   ========================================================================== */

/* usage: @extend vertical-align; */

@define-extend vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@define-extend horizontal-align {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}