/* ==========================================================================
   variables (SaSS & CSS custom properties)
   ========================================================================== */

/* CSS variables (not actually mutable) */
$base-size: 16px; /* it's actually the popular default as well */
$primary-font: 'EB Garamond', serif;
/* https://fonts.google.com/specimen/EB+Garamond?selection.family=EB+Garamond */


/* https://github.com/postcss/postcss-color-function#list-of-color-adjuster */
$pink: #ffbfca;


/* CSS custom properties (nicknamed CSS variables) */

/* they actually should be declared in responsive.scss since it's easier to refer to */

:root {
  --gutter: 8px;
  --column-num: 1;

  --exhibit-floor-mobile: 64px;
  --exhibit-floor-desktop: 112px;
  --exhibit-to-floor-mobile: 96px;  
}



/* ==========================================================================
   Media Queries and custom media definitions
   ========================================================================== */

$mobile-s-width: 320px;
$mobile-m-width: 480px;
$mobile-l-width: 640px;
$desktop-width: 1024px;

@custom-media --mobile-s (width > 320px) and (width <= 480px);
@custom-media --mobile-m (width > 480px) and (width <= 640px);
@custom-media --mobile-l (width > 640px) and (width <= 1024px);
@custom-media --desktop  (width >= 1024px);


/* ==========================================================================
   Mixins
   ========================================================================== */
/* https://webdesign.tutsplus.com/tutorials/postcss-deep-dive-preprocessing-with-precss--cms-24583 */




/* ==========================================================================
   Extends
   ========================================================================== */

/* usage: @extend vertical-align; */

@define-extend vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}






















/* ==========================================================================
   branding color
   ========================================================================== */

$mrbo-primary-white:     rgb(255,255,255) !default;
$mrbo-primary-black:     rgb(0, 0, 0) !default;

$mrbo-secondary-white:   rgb(249,247,250) !default;
$mrbo-secondary-black:   rgb(9,7,11) !default;

/* ==========================================================================
   layout
   ========================================================================== */

// grid definition
$mrbo-grid-gutter:       8px;

// dimensions
$mrbo-min-width:         320px !default;
$mrbo-mobile:            398px !default;
$mrbo-desktop:           768px !default;



// "exhibit" floor height 
$mrbo-exhibit-floor-mobile: 64px;
$mrbo-exhibit-floor-desktop: 112px;
$mrbo-exhibit-to-floor-mobile: 96px;




/* ==========================================================================
   typography
   ========================================================================== */

$mrbo-primary-font:      Helvetica, Arial, sans-serif;
$mrbo-primary-font:      'Ubuntu', Helvetica, Arial, sans-serif;
$mrbo-primary-font-size: 16px !default;
$mrbo-header-font:       'Crimson Text', serif !default;


/* ==========================================================================
   symbols
   ========================================================================== */

$mrbo-arrow-right: '❯';


/* ==========================================================================
   interaction design
   ========================================================================== */

$mrbo-primary-transition-duration: 300ms;

// CSS3 effect attributes
// $ym-scale:         1.1         !default;
// $ym-blur-radius:   2px         !default;
// $ym-border-radius: 3px         !default;
// $ym-ts-property:   all         !default;
// $ym-ts-duration:   500ms       !default;
// $ym-ts-timing:     ease-in-out !default;
// $ym-ts-delay:      0ms         !default;
// $ym-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.50);

// Animation Variables
// $mrbo-ts-correction: cubic-bezier(.27,.65,.47,1.21);
