<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  {{ partial "head" . }}

  <body class="{{ .Params.code }}">
    {{ block "header" . }}{{ partial "site-header" .}}{{ end }}

    <!-- beginning of site content -->
    {{ block "main" . }}{{ end }}
    <!-- end of site content -->

    {{ block "footer" . }}{{ partial "site-footer" . }}{{ end }}

    <!-- site-wide scripts and optional scripts -->
    {{ partial "site-scripts" . }}
    {{ block "section-scripts" . }}{{ end }}
  </body>
</html>