{{ define "main" }}
<div class="section-wrapper {{ .Params.code }} list clearfix">
	{{ partial "marquee" . }}
	
	<div class="section-wrapper-inner">
		<div class="summary-headers clearfix">
			<section class="notification">
				<h5>Please note: some lectures' contents are proprietary. They may be available for sharing upon
				<a href="/contact">request.</a> 
				</h5>
			</section>		

		  {{ range .Data.Pages }}
		    {{ .Render "summary"}}
		  {{ end }}
		</div>

		<div class="background-insert"></div>
	</div>
</div>
{{ end }}