<!-- this goes inside of a range .Data.Pages loop -->
{{ $code := .Params.code }}
<div class="summary-bospeak {{ .Params.code }} clearfix">
  
  <div class="featured clearfix">
    <a data-href="{{ .Permalink }}">
      <h4 class="headline">{{ .Title | safeHTML }}</h4>
    </a>

    {{ with .Params.images.poster }}
      <figure class="poster"><img src='/bospeak/{{ $code }}/{{ . }}'></figure>
    {{ end }}
  </div>

  <a class="summary" data-href="{{ .Permalink }}"><p>{{ .Params.description }}</p></a>
</div>