body.about {
	background: $mrbo-primary-white;
}

.anchored-portrait {
	position: fixed;
	bottom: 0;
	width: 80%;
	right: -1%;
	bottom: 0;
}

.greeting {
	margin-top: $mrbo-exhibit-floor-mobile;
	font-weight: 600;
	font-family: $header-font;


	position: fixed;
	height: 80px;
	z-index: 1;
	width: 100%;
	padding: 24px 24px 12px 24px;
	margin: 64px 0 0 0;
	top: 64px;
	margin: 0;
	// background: $mrbo-secondary-black;
	// color: $mrbo-primary-black;
}

.bio {
	// color: $mrbo-primary-black;
	padding: 340px 0 calc(340px - 144px) 0; /* adjust based on break points */
	margin: 0 24px;
	margin-right: 80px;

	p:last-child {
		// margin-bottom: 0;
		height: auto !important;
	}
}


.bio ~ footer {
	position: relative;
	width: 240px;

	.headline {
		padding-left: 1.5rem;
		text-align: left;
	}
}