.section-wrapper.about {
	.anchored-portrait {
		position: fixed;
		right: .5rem;
		bottom: 0;
		width: 50%;
		max-width: 24rem;
	}

	.greeting {
		font-family: $header-font;
		font-weight: 500;
		position: fixed;
		z-index: 1;
		top: calc(4rem + 1em);
		left: 1em;
	}

	.bio {
		margin: 0 5rem 0 2rem;
		
		p {
			margin: 0;

			span { display: none; }
			&:last-child { height: auto !important; }
		}
	}
}

