/* ==========================================================================
   Medium to Large Phones & Tablets
   ========================================================================== */

@media (--mobile-m) {
	.section-wrapper.tnt {
		width: $content-width-mobile-m;	

		.package-tnt {
			.featured {
				figure.poster {
					width: calc(100% - 1.5rem);
				}
			}

			.summary {
				margin: 2rem 1.5rem;
			}
		}
	}
}

@media (--mobile-l) {
	.section-wrapper.tnt {
		width: 21rem;	

		.package-tnt {
			.featured {
				figure.poster {
					width: calc(100% - 2rem);
				}
			}

			.summary {
				margin: 2rem;
			}
		}
	}
}

@media (--tablet) {
}

/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
}

@media (--desktop-m) {
}