/* ==========================================================================
   Common Style for the Teaching & Talks List Page
   ========================================================================== */

.bospeak.list {
	overflow: hidden;

	.marquee.mod {
		.fixed-holder { color: $primary-white; }
		.background-insert { background: $primary-black; }
	}

	.section-wrapper-inner {
		.summary-headers {
			width: $content-width-mobile-s;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			z-index: 1;

			.notification {
				margin: 4rem 0;
				font-family: $header-font;
				color: color($classic-grey lightness(75%));
				font-size: 1.2rem;
				font-style: italic;
				font-weight: 100;

				a { color: $classic-grey; }
			}
		}

		.background-insert {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			z-index: 0;
			background-size: 100% auto;
			opacity: .2;
		}
	}
}


/* ==========================================================================
   Single Page for Each Item
   ========================================================================== */

.bospeak.single {
	.headline {
		br { display: none; }
	}
}

