/* ==========================================================================
   Common Style for the Teaching & Talks List Page
   ========================================================================== */

.section-wrapper.tnt {
	width: $content-width-mobile-s;
	margin-left: auto;
	margin-right: auto;

	.package-tnt {
		position: relative;
		margin: 4em 0 6em 0;
		font-size: .8rem;

	  &:after {
	  	content: "▾";
	  	display: block;
	  	position: absolute;
	  	width: 100%;
	  	bottom: 0;
	  	text-align: center;
	  	transform: translateY(2rem);
	  }

	  &:last-child:after {
	  	content: "●";
	  }

		.featured {
			position: relative;

			.headline {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				text-align: left;
				z-index: 1;
			}

			figure.poster {
				position: relative;
				width: calc(100% - 1rem);
				box-shadow: $box-shadow-heavy;

				&:after {
					content: "";
					position: absolute;
					width: 50%;
					height: 100%;
					opacity: 0.75;
				}
			}
		}

		.summary {
			display: block;
			margin: 2rem 1rem;
			width: calc(100% - 1rem);
			text-decoration: none;
		}
	}

	.package-tnt:nth-child(2n+1) {
		.featured {
			.headline { right: 0; }
			figure.poster { float: left; }
			figure.poster:after { right: 0; }
		}

		.summary { margin-left: 0; }
	}

	.package-tnt:nth-child(2n) {
		.featured {
			.headline { left: 0; }
			figure.poster { float: right; }
			figure.poster:after { left: 0; }
		}

		.summary { margin-right: 0; }
	}
}

/* ==========================================================================
   Individual Styling for Each Item
   ========================================================================== */

.section-wrapper.tnt .hcd {
	.featured {
	}
}

.section-wrapper.tnt .vdf {
	.featured {
	}
}

.section-wrapper.tnt .hci {
	.featured {
		figure.poster:after {
			background-color: #a88a8b;
		}
	}
}

.section-wrapper.tnt .h4d {
	.featured {
		figure.poster:after {
			background-color: rgb(120, 120, 120);
		}
	}
}

.section-wrapper.tnt .browser {
	.featured {
		figure.poster:after {
			background-color: #45b2e5;
		}
	}
}

.section-wrapper.tnt .dic {
	.featured {
		figure.poster:after {
			background-color: #FDDA00;
		}
	}
}


/* ==========================================================================
   Interior Page for Each Item
   ========================================================================== */

.tnt-interior {
	.headline {
		br { display: none; }
	}
}

