/* ==========================================================================
   Contains all project "header" summaries
   ========================================================================== */

.summary-bospeak {
	position: relative;
	margin: 4em 0 6em 0;
	font-size: .8rem;

  &:after {
  	content: "▾";
  	display: block;
  	position: absolute;
  	width: 100%;
  	bottom: 0;
  	text-align: center;
  	transform: translateY(2rem);
  }

  &:last-child:after {
  	content: "●";
  }

	.featured {
		position: relative;

		.headline {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: left;
			z-index: 1;
		}

		figure.poster {
			position: relative;
			width: calc(100% - 1rem);
			box-shadow: $box-shadow-marquee;

			&:after {
				content: "";
				position: absolute;
				width: 50%;
				height: 100%;
				opacity: 0.75;
			}
		}
	}

	.summary {
		display: block;
		margin: 2rem 1rem;
		width: calc(100% - 1rem);
		text-decoration: none;
	}
}

.summary-bospeak:nth-child(2n) {
	.featured {
		.headline { right: 0; }
		figure.poster { float: left; }
		figure.poster:after { right: 0; }
	}

	.summary { margin-left: 0; }
}

.summary-bospeak:nth-child(2n+1) {
	.featured {
		.headline { left: 0; }
		figure.poster { float: right; }
		figure.poster:after { left: 0; }
	}

	.summary { margin-right: 0; }
}

/* ==========================================================================
   Individual Styling for Each Item
   ========================================================================== */

.hcd {
	.featured {
	}
}

.shape {
	.featured {
		figure.poster:after {
			background: #eaeaea;
		}
	}
}

.imagery {
	.featured {
		figure.poster:after {
			background: #727876;
		}
	}
}

.hci {
	.featured {
		figure.poster:after {
			background-color: #a88a8b;
		}
	}
}

.h4d {
	.featured {
		figure.poster:after {
			background-color: rgb(120, 120, 120);
		}
	}
}

.browser {
	.featured {
		figure.poster:after {
			background-color: #45b2e5;
		}
	}
}

.dic {
	.featured {
		figure.poster:after {
			background-color: #FDDA00;
		}
	}
}


/* ==========================================================================
   Medium to Large Phones & Tablets
   ========================================================================== */

@media (--mobile-m) {
	.summary-bospeak {
		.featured {
			figure.poster {
				width: calc(100% - 1.5rem);
			}
		}

		.summary {
			margin: 2rem 1.5rem;
		}
	}
}

@media (--mobile-l) {
	.summary-bospeak {
		.featured {
			figure.poster {
				width: calc(100% - 2rem);
			}
		}

		.summary {
			margin: 2rem;
		}
	}
}

@media (--tablet) {
	.summary-bospeak {
		margin: 6rem 0;

		&:after {
			font-size: 1rem;
			transform: translateY(3rem);
		}
	}
}


/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
	.summary-bospeak {
		margin: 6rem 0 8rem 0;

		.featured {
			width: 65%;
		}

		.summary {
			width: 27%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			p { font-size: 1.1rem; }
		}

		&:nth-child(2n+1) {
			.featured {
				margin: 0 0 0 auto;
				padding-left: 1rem;
			}

			.summary {
				left: 0;
			}
		}

		&:nth-child(2n) {
			.featured {
				margin: 0 auto 0 0;
				padding-right: 1rem;
			}

			.summary {
				right: 0;
			}
		}

		&:after {
			font-size: 1.2rem;
			transform: translateY(4.5rem);
		}
	}
}

@media (--desktop-m) {
}