/* ==========================================================================
   Medium to Large Phones & Tablets
   ========================================================================== */

@media (--mobile-m) {
	.section-wrapper.contact {
		.contact-form { 
			width: $content-width-mobile-m; 
		}
	}
}

@media (--mobile-l) {
	.section-wrapper.contact {
		.contact-form { 
			width: $content-width-mobile-l; 
		}
	}
}

@media (--tablet) {
	.section-wrapper.contact {
		.contact-form { 
			width: $content-width-tablet; 
		}
	}	
}

/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
	.section-wrapper.contact {
		.contact-form { 
			/* width: $content-width-desktop-s;  */
		}
	}		
}

@media (--desktop-m) {
}