/* ==========================================================================
   Medium to Large Phones & Tablets
   ========================================================================== */

@media (--mobile-m) {
	.section-wrapper.contact {
		.contact-form { 
			width: $content-width-mobile-m; 
		}
	}

	.section-wrapper.success {
		min-height: calc(100vh - 4rem - 14rem);
	}
}

@media (--mobile-l) {
	.section-wrapper.contact {
		.contact-form { 
			width: $content-width-mobile-l; 
		}
	}
}

@media (--tablet) {
	.section-wrapper.contact {
		.contact-form { 
			width: $content-width-tablet; 
			font-size: 1.5rem;
		}
	}

	.section-wrapper.success {
		.message-container {
			width: $content-width-mobile-l;
		}		
	}
}

/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
	.section-wrapper.contact {
		.contact-form { 
			width: 36rem;
		}
	}

	.section-wrapper.success {
		min-height: calc(100vh - 4rem - 16rem);
	}
}