.section-wrapper.contact {
	/* z-index: 1; */

	.contact-form {
		width: $content-width-mobile-s;
		font-family: $header-font;
		margin: 6em auto;

		.headline {
			text-align: left;
			color: $classic-grey;
			margin-bottom: 2em;
		}
	}
}


.input {
	position: relative;
	z-index: 1;
	margin: 1em 0;
	vertical-align: top;
}

.input__field {
	line-height: 1.5;
	position: relative;
	display: block;
	float: right;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.input.select {
	select { 
		margin-left: -4px;  
		margin-bottom: 2em;
	}
}


.input.message {
	.input__field,
	.input__label {
		min-height: 12em;
	}

	.input__label-content {
		position: absolute;
		bottom: .5em;
	}
}

.input.submit {
	margin: 2em 0;
	/* text-align: center; */

	input {
		padding: .7em 1em .5em 1em;
		border: 1px solid $classic-grey;
		background-color: rgba(255, 255, 255, .5);
		color: $primary-black;
		border-radius: 0;

		&:hover {
			background-color: $secondary-black;
			border-color: $secondary-black;
			color: $primary-white;
		}
	}
}


/* ==========================================================================
   Individual styles: Manami
   ========================================================================== */

.input--manami {
	overflow: hidden;
}

.input__field--manami {
	background: transparent;
	width: 100%;
	padding: 0.5em;
	margin-bottom: 2em;
	color: $primary-black;
	z-index: 100;
	opacity: 0;
}

.input__label--manami {
	width: 100%;
	position: absolute;
	text-align: left;
	padding: 0.5em 0;
	pointer-events: none;
	font-size: 1em;
	top: 0;
}

.input__label--manami::before,
.input__label--manami::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}

.input__label--manami::before {
	height: 100%;
	background: #A8A8A8;
	background-color: $linen-grey;
	top: 0;
	transform: translate3d(0, -100%, 0);
	transition: transform 0.2s;
}

.input__label--manami::after {
	height: 2px;
	background: #A8A8A8;
	/* background: $primary-black; */
	top: 100%;
	transition: opacity 0.2s;
}

.input__label-content--manami {
	padding: 0;
	transform-origin: 0 0;
	transition: transform 0.2s, color 0.2s;
}

.input__field--manami:focus,
.input--filled .input__field--manami {
	opacity: 1;
	transition: opacity 0s 0.2s;
}

.input__label--manami::before,
.input__label--manami::after,
.input__label-content--manami,
.input__field--manami:focus,
.input--filled .input__field--manami {
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--manami:focus + .input__label--manami::before,
.input--filled .input__label--manami::before {
	transform: translate3d(0, 0, 0);
}

.input__field--manami:focus + .input__label--manami::after,
.input--filled .input__label--manami::after {
	opacity: 0;
}

.input__field--manami:focus + .input__label--manami .input__label-content--manami,
.input--filled .input__label--manami .input__label-content--manami {
	color: $classic-grey;
	transform: translate3d(0, 2.1em, 0) scale3d(0.75, 0.75, 1);
}


.message .input__field--manami:focus + .input__label--manami .input__label-content--manami,
.message.input--filled .input__label--manami .input__label-content--manami {
	/* transform: translate3d(0, 7.8em, 0) scale3d(0.75, 0.75, 1);	 */
}