/* ==========================================================================
   RESPONSIVE: extract "responsive" attributes from above and put'em here
   ========================================================================== */

/* ceiling height = floor height = nav height */

.header-content {
  height: calc(100vh - 6em + 1em); /* viewport - margin bottom (elevation) height + base height */
}

.exhibit {
  height: calc(100vh + $nav-height-mobile); /* viewport + floor height */

	.exhibit-inner-wrapper {
		height: calc(100vh + $nav-height-mobile); /* 100vh + $exhibit-floor-mobile */

	  .ceiling {
	    height: $nav-height-mobile;
	  }

	  .frame {
	    height: calc(100vh - $nav-height-mobile - 4em - 6em); /* viewport - ceilingHeight - marginTop - marginBottom */
	    margin: 4em 2.5em 6em 2.5em; /* margin-top: 4em, margin-bottom: 6em */
	    box-shadow: 7px 12px 12px 0 rgba(0,0,0,.2);
	    box-shadow: 6px 10px 6px 0 rgba(0,0,0,.2);
	  }

	  .floor {
	    height: $nav-height-mobile;

	    .spectators {
	      height: 6em;
	      top: -5em;

	      img {
	      	height: 100%;
	      	top: 0.15em;
	      	left: 5em;
	      }
	    }
	  }
	}
}

@media (--mobile-m) {
	.exhibit {
		font-size: 1.125rem;
	}
}

@media (--mobile-l) {
	.exhibit {
		font-size: 1.25rem;
	}
}









/* forget about it for now... let's do a different layout for desktop */
@media (--desktop-s) {
	.header-content {
		height: calc(100vh - $exhibit-floor-desktop);
	}

	.exhibit {
		height: calc(100vh + $exhibit-floor-desktop);
	
		.exhibit-inner-wrapper {
			height: calc(100vh + $exhibit-floor-desktop);

			.ceiling {
				font-size: 8rem;
			}

		  .frame {
		    margin: 160px auto 192px auto;
		    box-shadow: 8px 16px 20px 0 rgba(0,0,0,.3);
		    max-width: 720px;
		  }

		  .floor {
		  }
	  }
  }
}
