/* ==========================================================================
   Making an exception: group the base "bespokeScroll" logic here for clarity
   ========================================================================== */

/**
 * ceiling height = floor height = frame top margin >= nav height 
 */
.header{
	.header-content {
	  height: calc(100vh - 6em + 1em); /* viewport - margin bottom (elevation) height + base height */
	}
}

.exhibit {
  height: calc(100vh + 4em); /* viewport + floor height */

	.exhibit-inner-wrapper {
		height: calc(100vh + 4em); /* viewport + floor height */

	  .ceiling {
	    height: 4em; /* floor height */
	  }

	  .frame {
	    height: calc(100vh - 4em - 4em - 6em); /* viewport - ceilingHeight - marginTop - marginBottom */
	    margin: 4em 2.5em 6em 2.5em; /* margin-top: 4em, margin-bottom: 6em */
	  }

	  .floor {
	    height: 4em;

	    .spectators {
	      height: 6em;
	      top: -5em;

	      img {
	      	height: 100%;
	      	top: 0.15em;
	      	left: 5em;
	      }
	    }
	  }
	}
}


/* ==========================================================================
   Medium to Large Phones & Tablets
   ========================================================================== */

@media (--mobile-m) {
	.header,
	.exhibit {
		font-size: 1.125rem;
	}
}

@media (--mobile-l) {
	.header,
	.exhibit {
		font-size: 1.25rem;
	}
}

@media (--tablet) {
	.header {
		font-size: 1.5rem;
		
		.header-content {
			.summary p span { display: inline; }
		}
	}

	.exhibit {
		font-size: 1.75rem;

		/**
		 * modify the aspect ratio of frame, but notice that 
		 * the sum of margin top&bottom remain unchanged 
		 */
		.exhibit-inner-wrapper .frame {
			margin: 3.75em 5em 6.25em 5em; 
		}
	}
}


/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
	.landscape {
		&.open {
			.nav {
				height: 100%;
			}

			.header {
				z-index: 1;
			}
		}

		.nav {
			box-shadow: none;
			padding: 0;
			height: 0;

			.nav-start {
				display: none;
			}

			.nav-icon {
				margin: 1.5rem 1.25rem;
			}
		}

		.header {
			transition: z-index 0ms 350ms;
			position: absolute;
			height: 100vh;
			width: 40%;
			left: 0;
			top: 0;
			font-size: 1.25rem;
			z-index: 100000;

			.header-content {
				height: 100%;

				.signature {
					left: 2em;
				}

				.summary {
					bottom: 0;
					margin: 2em;
				}

				.scroll-down {
					display: none;
				}
			}
		}

		.exhibit {
			position: absolute;
			height: 100vh;
			left: 40%;
			right: 0;
			font-size: 1.25rem;

			.exhibit-inner-wrapper {
				position: absolute;
				height: 100%;

				.ceiling {
					display: none;
				}

				.frame {
					margin: 5em 3em 7em 3em;
					height: calc(100vh - 12em - 4em);
					width: calc(100vh - 12em - 4em);

					.masterpiece {
						width: 66.7%; /* container is square, so this is how to get 3/2 ratio! */
					}
				}
			}
		}

		.headlines-container {
			display: block;
			position: absolute;
			right: -1rem;
			top: 50%;
			transform: translateY(-50%);

			.headline {
				text-align: right;
				margin-bottom: 1rem;
			}
		}
	}
}

@media (--desktop-m) {
	.landscape {
		.header {
			width: 34rem;

			.header-content {
				.signature {
					left: 2.5em;
				}

				.summary {
					margin: 2.5em;
				}			
			}
		}

		.exhibit {
			left: 34rem;

			.exhibit-inner-wrapper .frame {
				margin-left: 4em;
			}
		}

		.headlines-container {
			right: 2em;
		}
	}
}

@media (--desktop-l) {
	.landscape {
		.header {
			width: 40rem;

			.header-content {
				.signature {
					left: 3em;
					top: 6em;
				}

				.summary {
					margin: 3em;
					font-size: 1.5rem;
				}			
			}
		}

		.exhibit {
			left: 40rem;

			.exhibit-inner-wrapper {
				.floor .spectators img {
					left: 7em;
				}

				.frame {
					margin-left: 5em;
				}
			}
		}

		.headlines-container {
			right: 5em;
		}
	}
}
