/* ==========================================================================
   bespoke scroll has three parts: header, exhibit and the first featured post
   ========================================================================== */

.header {
	background-color: $primary-black;
	position: relative;
	z-index: 100;
	box-shadow: $box-shadow;
	font-size: 1rem;

	.header-content {
		color: $primary-white;

		.signature {
			position: absolute;
			width: 4em;
			height: 4em;
			top: 4em;
			left: 1.25em;
		}

		.summary {
			position: absolute;
			bottom: 1.75em;
			right: 0;
			left: 0;
			margin: 1.25em;

			p { font-size: .8em; }
		}

		.scroll-down { bottom: .5em; }
	}
}

.exhibit {
	font-size: 1rem;

	.exhibit-inner-wrapper {
		/**
		 * could apply background pattern outside of the frame
		 * 	 background-image: url("../_images/white-wall.jpg");
		 *   background-size: 200px;
		 *   background-size: cover; 
		 */
		width: 100%;
		top: 0;

		.frame {
			position: relative;

			.masterpiece {
				position: relative;
				border: .5em solid $primary-black;
				box-shadow: $box-shadow-master;
				height: 100%;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.floor {
	    text-align: center;
	    background: $linen-grey;
	    border-top: .125em solid color($linen-grey blackness(23%));;

	    .spectators {
	    	position: relative;
	    	z-index: 1;

				img {
					position: absolute;
					height: 100%;
					width: auto;
				}
	    }
		}
	}
}

/* ==========================================================================
   from here, default to sane default scroll lol
   ========================================================================== */

.featured-content {
	section {
		position: relative; /* just incase we do out-of-box styling */

		img { 
      width: 100%;
		}

    &:first-child {
      padding-top: $nav-height;
      background: $linen-grey;
    }
	}
}




/* ==========================================================================
   inside sections
   ========================================================================== */



