/* ==========================================================================
   bespoke scroll has three parts: header, exhibit and the first featured post
   ========================================================================== */

.header {
	background-color: $primary-black;
	position: relative;
	z-index: 100;
	box-shadow: $box-shadow;

	.header-content {
		font-size: 1rem;
		color: $primary-white;

		.signature {
			position: absolute;
			width: 4em;
			height: 4em;
			top: 4em;
			left: 1em;
		}

		summary {
			position: absolute;
			bottom: 2em;
			right: 1em;
			left: 1em;
			margin: .5em 0;
		}

		&:after {			
			content: $arrow-right;
			font-size: 1.1em;
			bottom: .8em;

			@extend horizontal-align;
			position: absolute;
			transform: translateX(-50%) rotate(90deg);
		}
	}
}


.exhibit-inner-wrapper {
	/**
	 * could apply background pattern outside of the frame
	 * 	 background-image: url("../_images/white-wall.jpg");
	 *   background-size: 200px;
	 *   background-size: cover; 
	 */
	width: 100%;
	top: 0;

	.frame {
		position: relative;
		border: .5em solid $primary-black;
	}

	.floor {
    text-align: center;
    background: $space-grey;
    border-top: .125em solid color($space-grey blackness(23%));;

    .spectators {
    	position: relative;
    	z-index: 1;

			img {
				position: relative;
				height: 120%;
				margin-top: -23px;
			}

			.spectator-1 { left: -4em;}
    }
	}
}



/* ==========================================================================
   from here, default to sane default scroll lol
   ========================================================================== */

.featured-content {
	.first-post {
		padding-top: $nav-height-mobile;
		background: $space-grey;
	}

	section {
		position: relative; /* just incase we do out-of-box styling */

		img {
			width: 100%;
		}
	}
}




/* ==========================================================================
   inside sections
   ========================================================================== */




.menu {
  .item a {
    font-size: 28px;

    @media (min-width: $mrbo-desktop) {
      font-size: 40px;
    }
  }
}
