/* ==========================================================================
   Medium to Large Phones
   ========================================================================== */

@media (--mobile-m) {
	.section-wrapper.work {
		.list-header .header-holder .headline { width: $content-width-mobile-m; }
		.summary-work:after { font-size: 1.2rem; }
		.marquee.mod .fixed-holder .blurb > p { display: block; }
	}

	.work.single {
		.project-header,
		.snapshot-inner,
		.content > h2,
		.content > p,
		.content > ul,
		.content > ol,
		.content > div h6,
		.cross-reference {
			width: $content-width-mobile-m;
		}
	}
}

@media (--mobile-l) {
	.section-wrapper.work {
		.list-header .header-holder .headline { width: $content-width-mobile-l; }
	}

	.work.single {
		.project-header,
		.snapshot-inner,
		.content > h2,
		.content > p,
		.content > ul,
		.content > ol,
		.content > div h6,
		.cross-reference {
			width: $content-width-mobile-l;		
		}

		.related .package-work {
			transform: none;
			margin-bottom: 2rem;
		}
	}
}

@media (--tablet) {
	.section-wrapper.work {
		.list-header .header-holder .headline { 
			width: $content-width-tablet;
			font-size: 2rem; 
		}

		.summary-work {
			margin-bottom: 7em;

			&:after { font-size: 1.5rem; }
		}
	}
}

/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
	.section-wrapper.work {
		.marquee.mod {
			height: auto;

			.fixed-holder {
				position: relative;
				top: 0;
			}

			.background-insert {
				position: absolute;
				top: 0;
				height: 100%;
			}
		}

		.section-wrapper-inner {
			.summary-headers {
				max-width: $content-width-desktop-s;
				padding: 6rem 0;
				margin: 0 auto;
			}

			.background-insert {
				background-image: url("/_images/texture/lines.jpg");
			}
		}

		.summary-work {
			box-shadow: $box-shadow;
			display: inline-block;
			width: 24rem;
			margin: 0;
			overflow: hidden;
			float: left;

			&:after { display: none; }

			&.large {
				/* transform: scale(0.9); */
				width: 52rem;
				margin: 4rem 0;
			}

			&.windowplay,
			&.lookbook,
			&.wrapper,
			&.map { 
				margin: 0 4rem 0 0; 
			}
		}


	}


}

@media (--desktop-m) {
}