/* ==========================================================================
   Medium to Large Phones
   ========================================================================== */

@media (--mobile-m) {
	.work.list {
		.summary-work:after { font-size: 1.2rem; }
		.marquee.mod .fixed-holder .blurb > p { display: block; }
	}

	.work.single {
		.project-header,
		.snapshot-inner,
		.content > h2,
		.content > p,
		.content > ul,
		.content > ol,
		.content > div h6,
		.cross-reference {
			width: $content-width-mobile-m;
		}

		.related {
			padding: 0;

			> .headline {
				margin: 4rem 0;
			}

			.summary-work {
				background-color: $primary-white;
				max-width: 20rem;
				transform: none;
				margin-bottom: 4rem;
			}
		}
	}
}

@media (--mobile-l) {
	.work.single {
		.project-header,
		.snapshot-inner,
		.content > h2,
		.content > p,
		.content > ul,
		.content > ol,
		.content > div h6,
		.cross-reference {
			width: $content-width-mobile-l;		
		}
	}
}

@media (--tablet) {
	.work.single {
		.project-header,
		.snapshot-inner,
		.content > h2,
		.content > p,
		.content > ul,
		.content > ol,
		.content > div h6,
		.cross-reference {
			width: $content-width-tablet;		
		}

		.content { font-size: 1.3rem; }

		.related {
			padding: 4rem 0;

			> .headline {
				margin: 2rem 0;
			}

			.summary-work {
				margin: 0 auto;
				max-width: 40rem;
				transform: scale(.9);
			}
		}

		.cross-reference {
			padding: 6rem 0;
		}
	}	
}

/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
	.work.list {
		.section-wrapper-inner {
			.summary-headers {
				padding: 4rem;
				margin: 0 auto;
			}

			.background-insert {
				background-image: url("/_images/texture/lines.jpg");
			}
		}

		.summary-work {

			&:after { display: none; }
		}
	}

	.work.single {
		> .summary-work {
			margin: 4rem 4rem 4rem auto;
			width: 50%;
		}

		.nav-back {
			position: absolute;
			top: 4rem;
			left: 4rem;
			width: auto;
		}

		.project-header {
			position: absolute;
			margin: 0;
			transform: translateY(calc(-100% - 4rem));
			left: 2rem;
		}

		.related {
			padding: 2rem 0;

			> div {
				max-width: $content-width-desktop-s;
				margin: 0 auto;				
			}

			.summary-work {
				max-width: none;
				overflow: visible;
				transform: none;
				width: 60%;

				&:nth-child(2n) { margin: 4rem auto 4rem 0; }
				&:nth-child(2n+1) { margin: 4rem 0 4rem auto; }
			}
		}



		/* individual tuning */
		.mcommerce ~ .project-header .headline { text-align: left; width: 18rem; margin: .5em auto; }
	}
}

@media (--desktop-m) {
	.work.list {
		.section-wrapper-inner {
			.summary-headers {
				max-width: $content-width-desktop-m;
				padding: 4rem 0;
			}
		}

		.summary-work {
			&.large {
				/* width: 44rem; */
			}
		}
	}
}