/* ==========================================================================
   Common Style for the Work List Page
   ========================================================================== */

.work.list {
	/* background-color: color($linen-grey lightness(92%)); */
	/* background-color: $linen-grey; */
	overflow: hidden;

	.marquee.mod {
		.fixed-holder { 
			color: $primary-white; 
			/* .blurb > p { display: none; } */
		}
		
		.background-insert { background: $primary-black; }
	}

	.section-wrapper-inner {
		.summary-headers {
			position: relative;
			z-index: 1;
		}

		.background-insert {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			z-index: 0;
			background-size: 100% auto;
			opacity: .2;
		}
	}
}

/* ==========================================================================
   Individual Project Page
   ========================================================================== */

.work.single {
	/* TODO: scroll and the feature page image scale down */
	.summary-header-wrapper .summary-work {
		margin-top: 0rem;
		margin-bottom: 3rem;

		a,
		&:after {
			display: none;
		}

		figure.background {
			overflow: hidden;

			img { filter: none; }
		}

		&.rapt figure.background { padding-top: 2rem; }
		&.rebranding figure.background { padding-top: 4rem; }
	}

	.project-header,
	.snapshot-inner,
	.content > h2,
	.content > p,
	.content > ul,
	.content > ol,
	.content > div h6,
	.cross-reference {
		width: $content-width-mobile-s;		
	}

	.project-header {
		margin: 3rem auto;

		.headline { 
			margin: .5em 0; 
			color: $primary-black;
		}
	}

	.snapshot {
		background-color: $secondary-black;
		color: $primary-white;

		.snapshot-inner { 
			position: relative;
			margin: 3rem auto;

			.launch-button {
				position: relative;
				display: inline-block;
				font-family: $content-font;
				color: $primary-white;
				padding-top: 1em;
				padding-right: 1em;
				margin-top: 2em;
				border-top: 1px solid $classic-grey;
				font-size: .85rem;

				&:after {
					position: absolute;
					content: $triangle-right;
					font-size: .8em;
					right: 0;
					top: calc(50% + .5em);
					transform: translateY(-50%);
					line-height: .6;
					font-weight: 100;
					text-decoration: none;
				}

				&:visited { color: $primary-white; }
			}
		}
	}

	/* Markdown Content */
	.content {
		position: relative;
		padding-bottom: 8em;

		a { font-family: $content-font; }

		> h2 {
			font-family: $header-font;
			color: color($secondary-black lightness(50%)); 
			margin: 3.5rem auto 1.5rem auto;
			font-size: 1.5em;
		}

		> p {
			margin: 1em auto; 
			padding-left: 2.5em;
			font-size: .9em;
		}

		> ul,
		> ol {
			margin: 1em auto; 
			padding-left: 3.5em;
			font-size: .9em;

			li {
				margin-bottom: .25em;
			}
		}

		h2 + p {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: .5rem;			
				left: 0;
				width: 1.5rem;
				border-bottom: 2px solid $primary-black;
			}
		}

		/* the cushion for image */
		> div {
			margin: 2rem 0;

			img {
				width: auto;
				display: block;
				margin: 0 auto;
				max-width: 100%;
				vertical-align: top;
			}

			h6 {
				font-family: $content-font;
				font-weight: 100;
				font-style: italic;
				color: $classic-grey;
				margin: 1em auto 2em auto;
				font-size: .75em;
			}
		}

		.tags {
			display: none;
			margin: 2em auto;

			a { font-family: $header-font; }
		}

	  &:after {
	  	content: $closing-circle;
	  	display: block;
	  	position: absolute;
	  	width: 100%;
	  	bottom: 4em;
	  	text-align: center;
	  }
	}

	.related {
		background-color: $linen-grey;
		padding: 2rem 0;

		> .headline {
			margin: 2rem 0;
		}

		.summary-work {
			margin: 0 auto;
			transform: scale(.9);
			box-shadow: $box-shadow;
			overflow: hidden;

			&:after { display: none; }
		}

		.rebranding {
			figure.background { padding-top: 10rem; }
			.headline-container { top: 3rem; }
		}
	}

	.cross-reference {
		position: relative;
		margin: 0 auto;
		padding: 3rem 0;

		.headline { text-align: left; }
		.learn-more { margin-top: 2rem; }
	}
}
