/* ==========================================================================
   Common Style for the Work List Page
   ========================================================================== */

.section-wrapper.work {
	/* background-color: color($linen-grey lightness(92%)); */
	/* background-color: $linen-grey; */
	overflow: hidden;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;

	.list-header {
		background-color: $primary-black;
		height: 22em;

		.header-holder {
			position: fixed;
			color: $primary-white;
			padding: 6em 1em;
			font-weight: 100;
			z-index: 0;
			max-width: 640px;
		}
	}

	.package-work {
		background-color: $primary-white;
		position: relative;
	  font-size: 1rem;
	  margin: 4em 0;

	  &:after {
	  	content: "▾";
	  	display: block;
	  	position: absolute;
	  	width: 100%;
	  	bottom: 0;
	  	text-align: center;
	  	transform: translateY(2rem);
	  }

	  &:last-child:after {
	  	content: "●";
	  }

	  .headline {
	  	position: absolute;
	  	z-index: 1;
	  	left: 50%;
	  	transform: translateX(-50%);
	  	top: .75em;
	  	color: $primary-white;
	  }

	  /* figure.background { overflow: hidden; } */

	  .featured {
	  	margin-top: -5rem;

	  	.mask-group {
		  	position: relative;
		  	margin: 0 auto;
		  	overflow: hidden;

		  	.device,
		  	.format {
			  	position: absolute;	
		  	}
	  	}
	  }

	  .mod.neo-quote {
	  	margin-top: 2rem;
	  }
	}
}


/* ==========================================================================
   "Featured" styling for each project
   ========================================================================== */

.section-wrapper.work .windowplay {
  .background img { filter: blur(10px); }
  .headline { color: $primary-black; }

	.featured {
		margin-top: -4rem;

		.mask-group {
	  	width: 280px;
	  	height: 299px;
	  	perspective: 1200px;
	  	box-shadow: $box-shadow;
			overflow: hidden;

		  .format {
		  	z-index: 1;
		  	top: -5px;
		  	left: -3px;
		  	width: 250px;

		  	transform: rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
		  }

		  .device {
		  	top: -208px;
		  	/* filter: grayscale(50%); */
		  }
		}
	}
}

.section-wrapper.work .zine {
	.background img { filter: blur(10px); }

	.featured {
		perspective: 600px;
		perspective-origin: left bottom;
		margin-top: -6rem;

		.mask-group {
			width: 216px;
			height: 335px;
			left: -6px;

			overflow: hidden;
			transform: rotateX(12deg) rotateY(5deg) rotateZ(-12deg);

			.format {
				z-index: 1;
				left: 9px;
				top: 26px;
				width: 201px;
	   		box-shadow: 0 1px 1px 2px rgba(25,25,25,.8);
				outline: 1px solid transparent;
			}

			.device {
				z-index: 10;
			}
		}
	}
}

.section-wrapper.work .panorama {
	figure.background img { filter: blur(2px) !important; }

	.featured {
		margin-top: -4rem;

		.mask-group {
			width: 280px;
			height: 144px;

			.format {
				width: 272px;
				left: 4px;
				top: 8px;
				border-radius: 12px;
			}
		}
	}
}

.section-wrapper.work .lookbook {
	figure.background img { filter: blur(6px) !important; }
	.headline { color: $primary-black; }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 353px;
			overflow: hidden;

			.format {
		  	top: 32px;
		  	left: 10px;
		  	width: 262px;
		  	border-bottom: 2px solid #ccc;
			}
		}
	}
}

.section-wrapper.work .carousel {
	figure.background img { filter: blur(8px) !important; }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 330px;
	  	perspective: 400px;
	  	perspective-origin: left bottom;
			overflow: hidden;

			.format {
				z-index: 1;
		  	top: 130px;
		  	left: 50px;
		  	width: 375px;

		  	transform: rotateX(0deg) rotateY(19deg) rotateZ(0deg);
			}

			.device { 
				/* transform: rotate3d(0, 1, 0, 180deg); */ 
				width: 150%;
			}
		}
	}
}

.section-wrapper.work .map {
	figure.background img { filter: blur(4px) !important; }
	.headline { color: $primary-black; }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 323px;
			overflow: hidden;

			.format {
		  	top: 90px;
		  	left: 20px;
		  	width: 240px;
		  	/* border-bottom: 2px solid $primary-black; */
		  	box-shadow: $box-shadow;
			}
		}
	}
}

.section-wrapper.work .stack {
	figure.background img { filter: blur(6px) !important; }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 353px;
	  	perspective: 400px;
	  	perspective-origin: left bottom;
			overflow: hidden;

			.format {
				z-index: 1;
		  	top: 104px;
		  	left: 23px;
		  	width: 292px;

		  	transform: rotateX(0deg) rotateY(20deg) rotateZ(0deg);
			}
		}
	}
}

.section-wrapper.work .wrapper {
	figure.background {
		height: 320px;
		background: #8d8b8c;

		img { 
			height: 100%;
			width: auto;
	    transform: scale(.8) translateX(-80px);
			filter: blur(8px) !important; 
		}
	}

	.headline {
		color: $primary-black; 
		top: 200px;
		left: 20px;
		transform: none;
	}

	.featured {
		position: absolute;
		top: 30px;
		right: -20px;
		margin-top: 0;
		box-shadow: $box-shadow-heavy;

		.mask-group {
			width: 240px;
			height: 260px;

			.format {
				width: 160%;
				left: -72px;
				bottom: -18px;
			}
		}
	}

	.mod.neo-quote {
		margin-top: 2em;
	}
}

.section-wrapper.work .mcommerce {
	figure.background {
		height: 320px;
		background: #3E3129;

		img { display: none; }
	}

	.headline {
		top: 40px;
		left: 20px;
		width: 200px;
		transform: none;
		text-align: left;
		line-height: 1;
	}

	.featured {
		position: absolute;
		top: 30px;
		right: -20px;
		margin-top: 0;
		box-shadow: $box-shadow-heavy;

		.mask-group {
			width: 240px;
			height: 260px;

			.format {
				width: 230%;
				left: -140px;
				top: -100px;
			}
		}
	}

	.mod.neo-quote {
		margin-top: 2em;
	}
}

.section-wrapper.work .rapt {
	.headline {
		top: 0;
		color: $primary-black;
	}

	.featured {
		margin-top: 0;
	}
}

.section-wrapper.work .spray {
	figure.background {
		height: 300px;
		background: #262626;

		img { 
			height: 100%;
			width: auto;
	    transform: scale(.8) translateX(-80px);
			filter: blur(4px) !important; 
		}
	}

	.headline {
		top: 130px;
		left: 20px;
		transform: none;
	}

	.featured {
		position: absolute;
		top: 50px;
		right: 0;
		margin-top: 0;
		box-shadow: $box-shadow-heavy;

		.mask-group {
			width: 280px;
			height: 200px;

			.format {
				width: auto;
				height: 203%;
				left: -45px;
				top: -58px;
			}
		}
	}

	.mod.neo-quote {
		margin-top: 2em;
	}
}


/* ==========================================================================
   Individual Project Page
   ========================================================================== */

.work.single {
	.metadata { display: none; }
	padding: 2rem 1rem; /* TODO: maybe use variable width instead */


}
