/* ==========================================================================
   Common Style for the Work List Page
   ========================================================================== */

.work.list {
	/* background-color: color($linen-grey lightness(92%)); */
	/* background-color: $linen-grey; */
	overflow: hidden;

	.marquee.mod {
		.fixed-holder { 
			color: $primary-white; 
			.blurb > p { display: none; }
		}
		
		.background-insert { background: $secondary-black; }
	}

	.section-wrapper-inner {
		.summary-headers {
			position: relative;
			z-index: 1;
		}

		.background-insert {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			z-index: 0;
			background-size: 100% auto;
			opacity: .2;
		}
	}
}

/* ==========================================================================
   Individual Project Page
   ========================================================================== */

.work.single {
	/* TODO: scroll and the feature page image scale down */
	.summary-header-wrapper .summary-work {
		margin-top: 0rem;
		margin-bottom: 3rem;

		a,
		&:after {
			display: none;
		}

		figure.background {
			overflow: hidden;

			img { filter: none; }
		}
	}

	.project-header,
	.snapshot-inner,
	.content > h2,
	.content > p,
	.content > ul,
	.content > ol,
	.content > div h6,
	.cross-reference {
		width: $content-width-mobile-s;		
	}

	.project-header {
		margin: 3rem auto;

		.headline { margin: .5em 0; }
	}

	.snapshot {
		background-color: $secondary-black;
		color: $primary-white;

		.snapshot-inner { 
			position: relative;
			margin: 3rem auto;
		}
	}

	/* Markdown Content */
	.content {
		position: relative;
		padding-bottom: 8em;

		a { font-family: $content-font; }

		> h2 {
			font-family: $header-font;
			color: color($secondary-black lightness(50%)); 
			margin: 3.5rem auto 1.5rem auto;
			font-size: 1.5em;
		}

		> p {
			margin: 1em auto; 
			padding-left: 2.5em;
			font-size: .9em;
		}

		> ul,
		> ol {
			margin: 1em auto; 
			padding-left: 3.5em;
			font-size: .9em;

			li {
				margin-bottom: .25em;
			}
		}

		h2 + p {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: .5rem;			
				left: 0;
				width: 1.5rem;
				border-bottom: 2px solid $primary-black;
			}
		}

		/* the cushion for image */
		> div {
			margin: 4rem 0;

			h6 {
				font-family: $content-font;
				font-weight: 100;
				font-style: italic;
				color: $classic-grey;
				margin: 1em auto 0 auto;
				font-size: .75em;
			}
		}

		.tags {
			display: none;
			margin: 2em auto;

			a { font-family: $header-font; }
		}

	  &:after {
	  	content: $closing-circle;
	  	display: block;
	  	position: absolute;
	  	width: 100%;
	  	bottom: 4em;
	  	text-align: center;
	  }
	}

	.related {
		background-color: $linen-grey;
		padding: 2rem 0;

		> .headline {
			margin: 2rem 0;
		}

		.summary-work {
			margin: 0 auto;
			transform: scale(.9);
			box-shadow: $box-shadow;
			overflow: hidden;

			&:after { display: none; }
		}
	}

	.cross-reference {
		position: relative;
		margin: 0 auto;
		padding: 3rem 0;

		.headline { text-align: left; }
		.learn-more { margin-top: 2rem; }
	}
}
