/* ==========================================================================
   Contains all project "header" summaries,
   There are two sizes: small and large
   ========================================================================== */

/* common styles */
.summary-work {
	figure.background { 
		position: absolute; 
		width: 100%;
	}

	.headline-container {
		position: relative;
		z-index: 1;

	  .headline {
	  	position: absolute;
	  	z-index: 1;
	  	left: 50%;
	  	top: 50%;
	  	transform: translate3d(-50%, -50%, 0);
	  }
	}

  .featured {
  	.mask-group {
	  	position: relative;
	  	margin: 0 auto;
	  	overflow: hidden;

	  	.device,
	  	.format {
		  	position: absolute;	
	  	}
  	}
  }

  .mod.neo-quote {
  	margin-top: 2em;
  	margin-bottom: 1em;
  }	
}

/* individual specific styles */
.windowplay {
	.background img { filter: blur(10px); }
	.headline-container { padding-bottom: calc(67.6%/2); }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 299px;
	  	perspective: 1200px;
	  	box-shadow: $box-shadow;
			overflow: hidden;

		  .format {
		  	z-index: 1;
		  	top: -5px;
		  	left: -3px;
		  	width: 250px;

		  	transform: rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
		  }

		  .device {
		  	top: -208px;
		  	/* filter: grayscale(50%); */
		  }
		}
	}
}

.zine {
	.background img { filter: blur(10px); }

	.headline-container { 
		padding-bottom: calc(50%/2);

		.headline { 
			transform: translate3d(-50%, -25%, 0); 
			color: $primary-white; 
		}
	}

	.featured {
		perspective: 600px;
		perspective-origin: left bottom;
		padding-bottom: 1rem;

		.mask-group {
			width: 216px;
			height: 335px;
			left: -6px;

			overflow: hidden;
			transform: rotateX(12deg) rotateY(5deg) rotateZ(-12deg);

			.format {
				z-index: 1;
				left: 9px;
				top: 26px;
				width: 201px;
	   		box-shadow: 0 1px 1px 2px rgba(25,25,25,.8);
				outline: 1px solid transparent;
			}

			.device {
				z-index: 10;
			}
		}
	}
}

.panorama {
	.headline-container { padding-bottom: calc(56.25% - 72px); }	
	.headline { color: $primary-white; }
	figure.background img { filter: blur(2px) !important; }

	.featured {
		.mask-group {
			width: 280px;
			height: 144px;

			.format {
				width: 272px;
				left: 4px;
				top: 8px;
				border-radius: 12px;
			}
		}
	}
}

.lookbook {
	figure.background img { filter: blur(6px) }
	.headline-container { padding-bottom: calc(64%/2); }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 353px;
			overflow: hidden;

			.format {
		  	top: 32px;
		  	left: 10px;
		  	width: 262px;
		  	border-bottom: 2px solid #ccc;
			}
		}
	}
}

.mgestures {
	figure.background img { filter: blur(6px) !important; }
	.headline-container { padding-bottom: calc(54%/2); }
	.headline { color: $primary-white; }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 353px;
	  	perspective: 400px;
	  	perspective-origin: left bottom;
			overflow: hidden;

			.format {
				z-index: 1;
		  	top: 104px;
		  	left: 23px;
		  	width: 292px;

		  	transform: rotateX(0deg) rotateY(20deg) rotateZ(0deg);
			}
		}
	}
}

.carousel {
	figure.background img { filter: blur(8px) !important; }
	.headline-container { padding-bottom: calc(54%/2); }
	.headline { color: $primary-white; }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 330px;
	  	perspective: 400px;
	  	perspective-origin: left bottom;
			overflow: hidden;

			.format {
				z-index: 1;
		  	top: 130px;
		  	left: 50px;
		  	width: 375px;

		  	transform: rotateX(0deg) rotateY(19deg) rotateZ(0deg);
			}

			.device { 
				/* transform: rotate3d(0, 1, 0, 180deg); */ 
				width: 150%;
			}
		}
	}
}

.map {
	figure.background img { filter: blur(4px) !important; }
	.headline-container { padding-bottom: calc(78%/2); }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 323px;
			overflow: hidden;

			.format {
		  	top: 90px;
		  	left: 20px;
		  	width: 240px;
		  	/* border-bottom: 2px solid $primary-black; */
		  	box-shadow: $box-shadow;
			}
		}
	}
}

.wrapper {
	.headline-container {
		position: absolute;
		height: 320px;
		left: 1rem;
		top: 0;

		.headline { transform: translate3d(0, -50%, 0); }
	}

	figure.background {
		height: 320px;
		background: #8d8b8c;
		overflow: hidden;
		position: relative;

		img { 
			height: 100%;
			width: auto;
	    transform: scale(.8) translateX(-80px);
			filter: blur(8px) !important; 
		}
	}

	.featured {
		position: absolute;
		top: 30px;
		right: -20px;
		box-shadow: $box-shadow-heavy;

		.mask-group {
			width: 240px;
			height: 260px;

			.format {
				width: 160%;
				left: -72px;
				bottom: -18px;
			}
		}
	}

	.mod.neo-quote {
		margin-top: 2em;
	}
}

.mcommerce {
	figure.background {
		height: 320px;
		background: #3E3129;
		position: relative;

		img { display: none; }
	}

	.headline-container {
		position: absolute;
		height: 320px;
		left: 1rem;
		top: 0;

		.headline {
			color: $primary-white;
			text-align: left;
			transform: translate3d(0, -50%, 0);
		}
	}

	.featured {
		position: absolute;
		top: 30px;
		right: -20px;
		box-shadow: $box-shadow-heavy;

		.mask-group {
			width: 240px;
			height: 260px;

			.format {
				width: 230%;
				left: -140px;
				top: -100px;
			}
		}
	}

	.mod.neo-quote {
		margin-top: 2em;
	}
}

.rapt {
	figure.background { position: relative; }
  .featured { display: none; }

	.headline-container {
		position: absolute;
		right: 0;
		left: 0;
		top: 2rem;

		.headline { transform: translate3d(-50%, 0, 0); }
	}
}

.spray {
	figure.background {
		position: relative;
		height: 320px;
		background: #262626;

		img { 
			height: 100%;
			width: auto;
	    transform: scale(.8) translateX(-80px);
			filter: blur(4px) !important; 
		}
	}

	.headline-container {
		position: absolute;
		height: 320px;
		left: 1rem;
		top: 0;

		.headline {
			color: $primary-white;
			transform: translate3d(0, -50%, 0);
		}
	}

	.featured {
		position: absolute;
		top: 50px;
		right: -32px;
		box-shadow: $box-shadow-heavy;

		.mask-group {
			width: 280px;
			height: 220px;

			.format {
				width: auto;
				height: 203%;
				left: -45px;
				top: -64px;
			}
		}
	}

	.mod.neo-quote {
		margin-top: 2em;
	}
}


/* ==========================================================================
   Larger version of the summary header
   ========================================================================== */

/* common styles */
.summary-work.large {
	.headline { 
		font-size: 4em; 
	}
}

/* individual specific styles */
.windowplay.large {
	.featured {
		.mask-group {
	  	width: 419px;
	  	height: 441px;

		  .format {
		  	top: -11px;
		  	left: -7px;
		  	width: auto;
		  }

		  .device {
		  	top: -222px;
		  }
		}
	}
}

.zine.large {
	.headline-container {
		.headline {
			transform: translate3d(-50%, 0, 0); 
		}
	}

	.featured {
		.mask-group {
			width: 384px;
			height: 600px;

			.format {
				left: 16px;
				top: 47px;
				width: auto;
			}
		}
	}
}

.panorama.large {
	.headline-container { padding-bottom: calc(56.25% - 128px); }

	.featured {
		.mask-group {
			width: 508px;
			height: 256px;

			.format {
				width: auto;
				left: 14px;
				top: 16px;
			}
		}
	}
}

.lookbook.large {
	.featured {
		.mask-group {
	  	width: 390px;
	  	height: 532px;

			.format {
		  	top: 48px;
		  	left: 16px;
		  	width: auto;
			}
		}
	}
}

.mgestures.large {
	.featured {
		.mask-group {
	  	width: 375px;
	  	height: 532px;

			.format {
		  	top: 152px;
		  	left: 41px;
		  	width: auto;
		  	transform: rotateY(12deg);
			}
		}
	}
}

.carousel.large {
	.featured {
		.mask-group {
	  	width: 448px;
	  	height: 502px;

			.format {
		  	top: 211px;
		  	left: 108px;
		  	width: auto;
		  	transform: rotateY(12deg);
			}
		}
	}
}

.map.large {
	.featured {
		.mask-group {
	  	width: 424px;
	  	height: 351px;

			.format {
		  	top: 0;
		  	left: 32px;
		  	width: auto;
			}

			.device { top: -90px; }
		}
	}
}

.wrapper.large {
	figure.background {
		height: 512px;
		img { transform: scale(1.1) translateX(20px);}
	}

	.headline-container { height: 512px; left: 3rem; }

	.featured {
		top: 60px;
		right: 3rem;

		.mask-group {
			width: 440px;
			height: 386px;

			.format {
				width: auto;
				height: 100%;
				left: -38px;
				bottom: 0;
			}
		}
	}
}

.mcommerce.large {
	figure.background { height: 512px; }
	.headline-container { height: 512px; left: 3rem; }

	.featured {
		top: 60px;
		right: 3rem;

		.mask-group {
			width: 412px;
			height: 386px;

			.format {
				width: auto;
				height: 120%;
				top: 0;
				left: 0;
			}
		}
	}
}

.rapt.large {
	.headline-container { top: 2.5rem; }
}

.spray.large {
	figure.background { height: 512px; }
	.headline-container { height: 512px; left: 3rem; }

	.featured {
		position: absolute;
		top: 60px;
		right: 3rem;

		.mask-group {
			width: 440px;
			height: 386px;
		}
	}
}


/* ==========================================================================
   Medium to Large Phones
   ========================================================================== */

@media (--mobile-m) {
	.wrapper    { .headline-container { left: 1.5rem; } .featured { right: 1.5rem; } }
	.mcommerce  { .headline-container { left: 1.5rem; } .featured { right: 1.5rem; } }
	.spray      { .headline-container { left: 1.5rem; } .featured { right: 1.5rem; } }
}

@media (--mobile-l) {
	.wrapper    { .headline-container { left: 2rem; } .featured { right: 2rem; } }
	.mcommerce  { .headline-container { left: 2rem; } .featured { right: 2rem; } }
	.spray      { .headline-container { left: 2rem; } .featured { right: 2rem; } }
}


/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
	

}

