/* ==========================================================================
   Medium to Large Phones & Tablets
   ========================================================================== */

@media (--mobile-m) {
	.work.list {
		.summary-work:after { font-size: 1.2rem; }
		.marquee.mod .fixed-holder .blurb > p { display: block; }
	}

	.work.single {
		.project-header,
		.snapshot-inner,
		.content > h2,
		.content > p,
		.content > ul,
		.content > ol,
		.content > div h6,
		.cross-reference {
			width: $content-width-mobile-m;
		}

		.related {
			padding: 0;

			> .headline {
				margin: 4rem 0;
			}

			.summary-work {
				max-width: 20rem;
				transform: none;
				margin-bottom: 4rem;
			}
		}
	}
}

@media (--mobile-l) {
	.work.single {
		.project-header,
		.snapshot-inner,
		.content > h2,
		.content > p,
		.content > ul,
		.content > ol,
		.content > div h6,
		.cross-reference {
			width: $content-width-mobile-l;		
		}
	}
}

@media (--tablet) {
	.work.single {
		.project-header,
		.snapshot-inner,
		.content > h2,
		.content > p,
		.content > ul,
		.content > ol,
		.content > div h6,
		.cross-reference {
			width: $content-width-tablet;		
		}

		.snapshot .snapshot-inner .launch-button {
			font-size: 1.1rem;
		}

		.content { font-size: 1.3rem; }

		.related {
			padding: 4rem 0;

			> .headline {
				margin: 2rem 0;
			}

			.summary-work {
				margin: 0 auto;
				max-width: 40rem;
				transform: scale(.9);
			}

			.rebranding {
				figure.background { padding-top: 12rem; }
				.headline-container { top: 0rem; }
			}
		}

		.cross-reference {
			padding: 6rem 0;
		}
	}	
}

/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
	.work.list {
		.section-wrapper-inner {
			.summary-headers {
				padding: 4rem 8rem;
				margin: 0 auto;
			}

			.background-insert { 
				background-image: url("/_images/texture/lines.jpg");
				display: none;
			}
		}
	}

	.work.single {
		.summary-header-wrapper .summary-work {
			margin: 4rem 4rem 4rem auto;
			width: 50%;

			&.rapt {
				figure.background {
					padding: 0;
				}
			}
		}

		.nav-back {
			position: absolute;
			top: 4rem;
			left: 4rem;
			width: auto;
		}

		.project-header {
			position: absolute;
			margin: 0;
			transform: translateY(calc(-100% - 4rem));
			left: 2rem;
		}

		.snapshot-inner,
		.content,
		.cross-reference {
			width: $content-width-desktop-s;
		}

		.snapshot .snapshot-inner {
			.metadata {
				width: 50%;
				margin-left: 50%;
				padding-left: 10%;
				font-size: 1.1rem;
				display: inline-block;

				&.overview { 
					position: absolute;
					top: 0;
					left: 0;
					margin-left: 0;
					padding-right: 10%;
					padding-left: 0;
				}
			}

			.launch-button {
				font-size: 1rem;
			}
		}

		.content {
			padding: 4rem 0 6rem 0;
			margin: 0 auto;
			font-size: 1.1rem;

			> div { 
				margin: 4rem 0; 

				/* caption for image */
				h6 {
					width: auto;
					margin-left: 4rem;
				}
			}

			> h2 {
				position: relative;
				width: auto;
				margin: 0;
				font-size: 2.5rem;
				left: 4rem;

				+ p { &:after { display: none; } }
				
				&:after {
					content: "";
					position: absolute;
					top: 1.5em;			
					left: 0;
					width: 2.5rem;
					border-bottom: 2px solid $primary-black;
				}
			}

			> p {
				margin-left: 50%;
				width: 50%;
				padding: 0 4rem 0 0;

				&:last-child {
					margin-bottom: 4rem;
				}				
			}

			> ul,
			> ol {
				margin-left: 50%;
				width: 50%;
				padding: 0 4rem 0 3.5em;
			}

			.double {
				font-size: 0;
				text-align: center;

				img { 
					display: inline;
					max-width: 50%;
				}
			}
		}

		.related {
			padding: 2rem 0;

			> div {
				max-width: $content-width-desktop-s;
				margin: 0 auto;				
			}

			.summary-work {
				box-shadow: none;
				max-width: none;
				overflow: visible;
				transform: none;
				width: 60%;

				&:nth-child(2n) { margin: 4rem auto 4rem 0; }
				&:nth-child(2n+1) { margin: 4rem 0 4rem auto; }
			}

			.rebranding {
				figure.background { padding-top: 0; }
				.text-container { top: 30% !important; }
			}
		}

		.cross-reference {
			padding: 8rem 0;

			.headline {
				width: 50%;
			}

			.learn-more {
				position: absolute;
				margin: 0;
				top: 50%;
				left: 50%;
				transform: translate3d(50%, -50%, 0);
			}
		}

		/* individual tuning */
		.mcommerce ~ .project-header .headline { text-align: left; width: 18rem; margin: .5em auto; }
	}
}

@media (--desktop-m) {
	.work.list {
		.section-wrapper-inner {
			.summary-headers {
				max-width: $content-width-desktop-m;
				padding: 6rem 0;
				padding: 6rem 2rem;
			}
		}
	}

	.work.single {
		.summary-header-wrapper {
			max-width: $content-width-desktop-m;
			margin: 0 auto;

			.summary-work {
				margin-right: 0;
			}
		}

		.project-header {
			left: 50%;
			transform: translate3d(calc(-50% - 28rem), calc(-100% - 4rem), 0);
		}

		.snapshot-inner,
		.content {
			width: $content-width-desktop-m;
		}

		.content {
			> h2 {
				left: 8rem;
			}

			> p {
				padding: 0 8rem 0 0;
			}

			> ul,
			> ol {
				padding: 0 8rem 0 3.5em;
			}
		}

		.related {
			> div { max-width: $content-width-desktop-m; }			
			.summary-work { transform: scale(.9); }
		}
	}
}