/* ==========================================================================
   Medium to Large Phones
   ========================================================================== */

@media (--mobile-m) {
	.section-wrapper.work {
		.list-header .header-holder .headline { width: $content-width-mobile-m; }
		.summary-work:after { font-size: 1.2rem; }
	}

	.work.single {
		.project-header,
		.snapshot-inner,
		.content > h2,
		.content > p,
		.content > ul,
		.content > ol,
		.content > div h6,
		.cross-reference {
			width: $content-width-mobile-m;
		}
	}
}

@media (--mobile-l) {
	.section-wrapper.work {
		.list-header .header-holder .headline { width: $content-width-mobile-l; }
	}

	.work.single {
		.project-header,
		.snapshot-inner,
		.content > h2,
		.content > p,
		.content > ul,
		.content > ol,
		.content > div h6,
		.cross-reference {
			width: $content-width-mobile-l;		
		}

		.related .package-work {
			transform: none;
			margin-bottom: 2rem;
		}
	}
}

@media (--tablet) {
	.section-wrapper.work {
		.list-header .header-holder .headline { 
			width: $content-width-tablet;
			font-size: 2rem; 
		}

		.summary-work:after { font-size: 1.5rem; }
	}
}

/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
}

@media (--desktop-m) {
}