/* ==========================================================================
   Common Style for the Work List Page
   ========================================================================== */

.section-wrapper.work {
	/* background-color: color($linen-grey lightness(92%)); */
	/* background-color: $linen-grey; */
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;

	.list-header {
		background-color: $primary-black;
		height: 24rem;

		.header-holder {
			position: fixed;
			color: $primary-white;
			height: 24rem;
			width: 100%;
			z-index: 0;

			.headline {
				width: $content-width-mobile-s;
				position: absolute;
				font-weight: 100; 
				margin: auto;
				right: 0;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	.summary-work {
		background-color: $primary-white;
		position: relative;
	  margin: 4em auto;
	  /* max-width: 35rem; */

	  &:after {
	  	content: $triangle-down;
	  	display: block;
	  	position: absolute;
	  	width: 100%;
	  	bottom: 0;
	  	text-align: center;
	  	transform: translateY(2rem);
	  }

	  &:last-child:after {
	  	content: $closing-circle;
	  }
	}
}

/* ==========================================================================
   Individual Project Page
   ========================================================================== */

.work.single {
	/* TODO: scroll and the feature page image scale down */
	> .package-work {
		margin-top: 0rem;
		margin-bottom: 3rem;

		> a,
		&:after {
			display: none;
		}

		figure.background img {
			/* transform: scale(1.4); */
			filter: none;
		}
	}

	.project-header,
	.snapshot-inner,
	.content > h2,
	.content > p,
	.content > ul,
	.content > ol,
	.content > div h6,
	.cross-reference {
		width: $content-width-mobile-s;		
	}

	.project-header {
		margin: 3rem auto;

		.headline { margin: .5em 0; }
	}

	.snapshot {
		background-color: $secondary-black;
		color: $primary-white;

		.snapshot-inner { margin: 3rem auto; }
	}

	/* Markdown Content */
	.content {
		position: relative;
		padding-bottom: 6em;

		a { font-family: $content-font; }

		> h2 {
			font-family: $header-font;
			color: color($secondary-black lightness(50%)); 
			margin: 3.5rem auto 1.5rem auto;
		}

		> p {
			margin: 1em auto; 
			padding-left: 2.5rem;
		}

		> ul,
		> ol {
			margin: 1em auto; 
			padding-left: 3.5rem;

			li {
				margin-bottom: .25em;
			}
		}

		h2 + p {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: .5rem;			
				left: 0;
				width: 1.5rem;
				border-bottom: 2px solid $primary-black;
			}
		}

		/* the cushion for image */
		> div {
			margin: 2em 0;

			h6 {
				font-family: $content-font;
				font-weight: 100;
				font-style: italic;
				color: $classic-grey;
				margin: 1em auto 0 auto;
				font-size: .75em;
			}
		}

		.tags {
			display: none;
			margin: 2em auto;

			a { font-family: $header-font; }
		}

	  &:after {
	  	content: $closing-circle;
	  	display: block;
	  	position: absolute;
	  	width: 100%;
	  	bottom: 2.5em;
	  	text-align: center;
	  }
	}

	.related {
		background-color: $linen-grey;
		padding: 2em 0;

		> .headline {
			margin: 1rem 0;
		}

		.package-work {
			/* background-color: transparent; */
			margin: 0 auto;
			overflow: hidden;
			transform: scale(.9);
			box-shadow: $box-shadow;
			max-width: 20rem; /* keep it the same size as smallest phone version */

			&:after { display: none; }
		}
	}

	.cross-reference {
		margin: 0 auto;
		padding: 3rem 0;

		.headline { text-align: left; }
		.learn-more { margin-top: 2rem; }
	}
}
