/* ==========================================================================
   Contains all project "header" summaries,
   There are two sizes: small and large
   ========================================================================== */

/* common styles */
.summary-work {
	background-color: $primary-white;
  margin: 4rem auto 5rem auto;
	position: relative;

  &:after {
  	content: $triangle-down;
  	display: block;
  	position: absolute;
  	width: 100%;
  	bottom: 0;
  	text-align: center;
  	transform: translateY(1.5rem);
  }

  &:last-child:after {
  	content: $closing-circle;
  }

	figure.background { 
		position: absolute;
		width: 100%;

		/* img { transform: scale(1.05); } */
	}

	.headline-container {
		position: relative;
		z-index: 1;

		a { text-decoration: none; }

	  .headline {
	  	position: absolute;
	  	z-index: 1;
	  	left: 50%;
	  	top: 50%;
	  	transform: translate3d(-50%, -50%, 0);
	  	font-size: 2.5rem;
	  }
	}

  .featured {
  	.mask-group {
	  	position: relative;
	  	margin: 0 auto;
	  	overflow: hidden;

	  	.device,
	  	.format {
		  	position: absolute;	
	  	}
  	}
  }

  .mod.neo-quote {
  	margin-top: 2em;
  	margin-bottom: 1em;
  }	
}

/* individual specific styles */
.windowplay {
	.background img { filter: blur(4px); }
	.headline-container { padding-bottom: calc(69.6%/2); }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 299px;
	  	perspective: 1200px;
	  	box-shadow: $box-shadow;
			overflow: hidden;

		  .format {
		  	z-index: 1;
		  	top: -5px;
		  	left: -3px;
		  	width: 250px;

		  	transform: rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
		  }

		  .device {
		  	top: -208px;
		  	/* filter: grayscale(50%); */
		  }
		}
	}
}

.zine {
	.background img { filter: blur(5px); }

	.headline-container { 
		padding-bottom: calc(50%/2);

		.headline { 
			transform: translate3d(-50%, -25%, 0); 
			color: $primary-white; 
		}
	}

	.featured {
		perspective: 600px;
		perspective-origin: left bottom;
		padding-bottom: 1rem;

		.mask-group {
			width: 216px;
			height: 335px;
			left: -6px;

			overflow: hidden;
			transform: rotateX(12deg) rotateY(5deg) rotateZ(-12deg);

			.format {
				z-index: 1;
				left: 9px;
				top: 26px;
				width: 201px;
	   		box-shadow: 0 1px 1px 2px rgba(25,25,25,.8);
				outline: 1px solid transparent;
			}

			.device {
				z-index: 10;
			}
		}
	}
}

.panorama {
	.headline-container { padding-bottom: calc(56.25% - 72px); }	
	.headline { color: $primary-white; }
	figure.background img { filter: blur(2px); }

	.featured {
		.mask-group {
			width: 280px;
			height: 144px;

			.format {
				width: 272px;
				left: 4px;
				top: 8px;
				border-radius: 12px;
			}
		}
	}
}

.lookbook {
	figure.background img { filter: blur(3px) }
	.headline-container { padding-bottom: calc(64%/2); }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 353px;
			overflow: hidden;

			.format {
		  	top: 32px;
		  	left: 10px;
		  	width: 262px;
		  	border-bottom: 2px solid #ccc;
			}
		}
	}
}

.mgestures {
	figure.background img { filter: blur(4px); }
	.headline-container { padding-bottom: calc(54%/2); }
	.headline { color: $primary-white; }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 353px;
	  	perspective: 400px;
	  	perspective-origin: left bottom;
			overflow: hidden;

			.format {
				z-index: 1;
		  	top: 104px;
		  	left: 23px;
		  	width: 292px;

		  	transform: rotateX(0deg) rotateY(20deg) rotateZ(0deg);
			}
		}
	}
}

.carousel {
	figure.background img { filter: blur(5px); }
	.headline-container { padding-bottom: calc(54%/2); }
	.headline { color: $primary-white; }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 330px;
	  	perspective: 400px;
	  	perspective-origin: left bottom;
			overflow: hidden;

			.format {
				z-index: 1;
		  	top: 130px;
		  	left: 50px;
		  	width: 375px;

		  	transform: rotateX(0deg) rotateY(19deg) rotateZ(0deg);
			}

			.device { 
				/* transform: rotate3d(0, 1, 0, 180deg); */ 
				width: 150%;
			}
		}
	}
}

.map {
	figure.background img { filter: blur(2px); }
	.headline-container { padding-bottom: calc(78%/2); }

	.featured {
		.mask-group {
	  	width: 280px;
	  	height: 323px;
			overflow: hidden;

			.format {
		  	top: 90px;
		  	left: 20px;
		  	width: 240px;
		  	/* border-bottom: 2px solid $primary-black; */
		  	box-shadow: $box-shadow;
			}
		}
	}
}

.wrapper {
	.headline-container {
		position: absolute;
		height: 320px;
		left: 1rem;
		top: 0;

		.headline { transform: translate3d(0, -50%, 0); }
	}

	figure.background {
		height: 320px;
		background: #8d8b8c;
		overflow: hidden;
		position: relative;

		img { 
			height: 100%;
			width: auto;
	    transform: scale(.8) translateX(-80px);
			filter: blur(5px); 
		}
	}

	.featured {
		position: absolute;
		top: 30px;
		right: -20px;
		box-shadow: $box-shadow-heavy;

		.mask-group {
			width: 240px;
			height: 260px;

			.format {
				width: 160%;
				left: -72px;
				bottom: -18px;
			}
		}
	}

	.mod.neo-quote {
		margin-top: 2em;
	}
}

.mcommerce {
	figure.background {
		height: 320px;
		background: #3E3129;
		position: relative;

		img { display: none; }
	}

	.headline-container {
		position: absolute;
		height: 320px;
		left: 1rem;
		top: 0;

		.headline {
			color: $primary-white;
			text-align: left;
			transform: translate3d(0, -50%, 0);
		}
	}

	.featured {
		position: absolute;
		top: 30px;
		right: -20px;
		box-shadow: $box-shadow-heavy;

		.mask-group {
			width: 240px;
			height: 260px;

			.format {
				width: 230%;
				left: -140px;
				top: -100px;
			}
		}
	}

	.mod.neo-quote {
		margin-top: 2em;
	}
}

.rapt {
	figure.background { position: relative; }
  .featured { display: none; }

	.headline-container {
		position: absolute;
		right: 0;
		left: 0;
		top: 2rem;

		.headline { transform: translate3d(-50%, 0, 0); }
	}
}

.spray {
	figure.background {
		position: relative;
		height: 320px;
		background: #262626;

		img { 
			height: 100%;
			width: auto;
	    transform: scale(.8) translateX(-80px);
			filter: blur(3px); 
		}
	}

	.headline-container {
		position: absolute;
		height: 320px;
		left: 1rem;
		top: 0;

		.headline {
			color: $primary-white;
			transform: translate3d(0, -50%, 0);
		}
	}

	.featured {
		position: absolute;
		top: 50px;
		right: -32px;
		box-shadow: $box-shadow-heavy;

		.mask-group {
			width: 280px;
			height: 220px;

			.format {
				width: auto;
				height: 203%;
				left: -45px;
				top: -64px;
			}
		}
	}

	.mod.neo-quote {
		margin-top: 2em;
	}
}


/* ==========================================================================
   Larger version of the summary header
   ========================================================================== */

/* common styles */
.summary-work.large {
	.headline { 
		font-size: 4rem;
	}
}

/* individual specific styles */
.windowplay.large {
	.featured {
		.mask-group {
	  	width: 419px;
	  	height: 441px;

		  .format {
		  	top: -11px;
		  	left: -7px;
		  	width: auto;
		  }

		  .device {
		  	top: -222px;
		  }
		}
	}
}

.zine.large {
	.headline-container {
		.headline {
			transform: translate3d(-50%, 0, 0); 
		}
	}

	.featured {
		.mask-group {
			width: 384px;
			height: 600px;

			.format {
				left: 16px;
				top: 47px;
				width: auto;
			}
		}
	}
}

.panorama.large {
	.headline-container { padding-bottom: calc(56.25% - 128px); }

	.featured {
		.mask-group {
			width: 508px;
			height: 256px;

			.format {
				width: auto;
				left: 14px;
				top: 16px;
			}
		}
	}
}

.lookbook.large {
	.featured {
		.mask-group {
	  	width: 390px;
	  	height: 532px;

			.format {
		  	top: 48px;
		  	left: 16px;
		  	width: auto;
			}
		}
	}
}

.mgestures.large {
	.featured {
		.mask-group {
	  	width: 375px;
	  	height: 532px;

			.format {
		  	top: 152px;
		  	left: 41px;
		  	width: auto;
		  	transform: rotateY(12deg);
			}
		}
	}
}

.carousel.large {
	.featured {
		.mask-group {
	  	width: 448px;
	  	height: 502px;

			.format {
		  	top: 211px;
		  	left: 108px;
		  	width: auto;
		  	transform: rotateY(12deg);
			}
		}
	}
}

.map.large {
	.featured {
		.mask-group {
	  	width: 424px;
	  	height: 351px;

			.format {
		  	top: 0;
		  	left: 32px;
		  	width: auto;
			}

			.device { top: -90px; }
		}
	}
}

.wrapper.large {
	figure.background {
		height: 512px;
		img { transform: scale(1.1) translateX(20px);}
	}

	.headline-container { height: 512px; left: 3rem; }

	.featured {
		top: 60px;
		right: 3rem;

		.mask-group {
			width: 440px;
			height: 386px;

			.format {
				width: auto;
				height: 100%;
				left: -38px;
				bottom: 0;
			}
		}
	}
}

.mcommerce.large {
	figure.background { height: 512px; }
	.headline-container { height: 512px; left: 3rem; }

	.featured {
		top: 60px;
		right: 3rem;

		.mask-group {
			width: 412px;
			height: 386px;

			.format {
				width: auto;
				height: 120%;
				top: 0;
				left: 0;
			}
		}
	}
}

.rapt.large {
	.headline-container { 
		top: 2.5rem; 
	}
}

.spray.large {
	figure.background { height: 512px; }
	.headline-container { height: 512px; left: 3rem; }

	.featured {
		position: absolute;
		top: 60px;
		right: 3rem;

		.mask-group {
			width: 440px;
			height: 386px;
		}
	}
}


/* ==========================================================================
   Medium to Large Phones
   ========================================================================== */

@media (--mobile-m) {
	.wrapper    { .headline-container { left: 1.5rem; } .featured { right: 1.5rem; } }
	.mcommerce  { .headline-container { left: 1.5rem; } .featured { right: 1.5rem; } }
	.spray      { .headline-container { left: 1.5rem; } .featured { right: 1.5rem; } }
}

@media (--mobile-l) {
	.wrapper    { .headline-container { left: 2rem; } .featured { right: 2rem; } }
	.mcommerce  { .headline-container { left: 2rem; } .featured { right: 2rem; } }
	.spray      { .headline-container { left: 2rem; } .featured { right: 2rem; } }
}

@media (--tablet) {
	.summary-work {
		margin-bottom: 7rem;

		&:after { font-size: 1.5rem; }
	}
}


/* ==========================================================================
   iPad Landscape and Beyond
   ========================================================================== */

@media (--desktop-s) {
	.summary-headers {
		counter-reset: summary-list-counter;
		
		.summary-work {
			counter-increment: summary-list-counter;

			.headline-container:before {
				content: counter(summary-list-counter, decimal-leading-zero);
				position: absolute;
				z-index: -1;
				transform: translate3d(-50%, -100%, 0);
				top: 6rem;
				font-family: $header-font;
				font-weight: 900;
				font-size: 12rem;
				line-height: 1;
				color: color($linen-grey blackness(10%));
			}
		}
	}

	.summary-work {
		width: 60%;

		figure.background {
			position: absolute;
			overflow: hidden;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			height: auto;
			width: auto;
			box-shadow: $box-shadow-heavy;
			box-shadow: $box-shadow-marquee;

			img { display: none; }

			.image {
				height: 100%;
				background-size: cover;
				background-position: center;
				filter: blur(4px);
				transform: scale(1.01);
			}
		}

		.featured {
			position: absolute;
			top: 50%;
			left: 50%; 
			transform: translate3d(-50%, -50%, 0);
		}

		.headline-container {
			padding-bottom: 0;
			height: auto;
			width: 15rem;
			margin: 0 auto;

			.headline { 
				position: static; 
				transform: none;
				color: $primary-black;
				text-align: center;
			}
		}

		.neo-quote-container {
			position: relative;

			.neo-quote.mod {
				font-size: 1rem;
				width: 15rem;
			}
		}

		&:nth-child(2n+1) {
			margin: 0 0 8rem auto;
			left: 1rem;

			.text-container {
				left: -90%;
				top: 50%;
			}

			.headline-container:before {
				left: calc(50% - 8rem);
			}
		}

		&:nth-child(2n) {
			margin: 0 auto 8rem 0;
			right: 2rem;

			.text-container {
				left: 90%;
				top: 50%;
			}

			.headline-container:before {
				left: calc(50% + 8rem);
			}
		}

		&:after {
			transform: translateY(calc(4rem + 50%));
			font-size: 1.75rem;
		}
	}

	.windowplay {
		height: 26rem;
		width: 55%;

		figure.background {	.image { background-position: left center; filter: blur(1px); } }
		.featured { right: 2rem; transform: translate3d(0, -50%, 0); left: auto; }
		.text-container { left: -100% !important; }
	}

	.zine {
		height: 26rem;

		figure.background { .image { background-position: left center; } }
		.featured { left: 6rem; transform: translate3d(0, -50%, 0); }
		.text-container { top: 42% !important; }
	}

	.panorama {
		height: 20rem;

		.featured { transform: translate3d(-50%, -50%, 0) scale(1.3); }
	}

	.lookbook { 
		height: 26rem;

		.text-container { top: 40% !important; }
	}

	.mgestures { 
		height: 26rem;
	}

	.rapt { 
		height: 25rem;
		width: 494px; /* 400/0.81 */

		figure.background { .image { filter: none; } }
		.text-container { position: relative; }
	}

	.wrapper {
		height: 21rem;

		.featured { left: auto; right: 2.5rem; transform: translate3d(0, -50%, 0); }
		.text-container { position: relative; }
	}

	.mcommerce { 
		height: 20rem;
		width: 50%;

		figure.background { .image { display: none; } }
		.featured { left: 4rem; right: auto; transform: translate3d(0%, -50%, 0); }
		.text-container { position: relative; top: 35% !important; }
		.headline-container .headline { text-align: left; }
	}

	.spray {
		height: 22rem;

		.featured { left: auto; right: 4rem; transform: translate3d(0, -50%, 0) scale(1.2); }
		.text-container { position: relative; }
	}

	.map {
		height: 24rem;
	}

	.carousel {
		height: 25rem;

		.text-container { top: 40% !important; }
	}
}


@media (--desktop-m) {
	.summary-work {
		background-color: transparent;
		.headline-container { width: 18rem; .headline { font-size: 4rem; } }
		.neo-quote-container .neo-quote.mod { font-size: 1.2rem; width: 18rem; }
	}

	.windowplay.large { 
		height: 30rem;

		.featured { transform: translate3d(0, -50%, 0) scale(.8); }
	}

	.zine.large {
		height: 32rem;

		figure.background { bottom: 10rem; }
		.headline-container .headline { transform: none; }
		.featured { transform: translate3d(0, -50%, 0) scale(.8); }
	}

	.panorama.large{
		height: 26rem;

		.headline-container { padding-bottom: 0; }
		.featured { transform: translate3d(-50%,-50%,0) scale(1); }
	}

	.lookbook.large { 
		height: 32rem; 

		figure.background { bottom: 8rem; }
		.featured { transform: translate3d(-50%, -40%, 0) scale(.8); }
	}

	.mgestures.large { 
		height: 26rem;

		figure.background { top: 3rem; bottom: 2rem; }
		.featured { transform: translate3d(-50%, -50%, 0) scale(.85); }
		.text-container { top: 45% !important; }
	}

	.rapt.large { 
		height: 28rem;
		width: 553px; /* 448/0.81 */

		.text-container { top: 45% !important; }
	}

	.wrapper.large {
		height: 30rem;
		figure.background { height: auto; top: 4rem; }

		.headline-container { height: auto; }
		.featured { right: 4rem; transform: none; top: auto; bottom: 6rem; }
	}

	.mcommerce.large { 
		height: 30rem;
		width: 55%;

		figure.background { 
			height: auto;
			right: 8rem;
			top: 4rem;
		}

		.headline-container { height: auto; }
		
		.featured { 
			top: auto; 
			left: auto;
			bottom: 5rem;
			right: 3rem;
			transform: scale(1.1);
		}

		.text-container { top: 40% !important; }
	}

	.spray.large {
		height: 30rem;

		figure.background { height: auto; }

		.headline-container { height: auto; }
		.featured { top: 50%; transform: translate3d(0, -50%, 0) scale(.9); }
		.text-container { top: 47% !important; }
	}

	.map { 
		height: 28rem; 

		.featured { transform: translate3d(-50%, -50%, 0) scale(.95); }
		.text-container { top: 45% !important; }
	}

	.carousel {
		height: 30rem;

		.featured { transform: translate3d(-50%, -50%, 0) scale(.8); }
	}
}
