{{ define "main" }}
<div class="section-wrapper work single">
  {{ .Render "summary"}}

  <div class="project-header">
    <h3 class="headline">{{ .Title }}</h3>
    <div class="neo-quote mod">
      <p>{{ .Params.subtitle }}</p>
    </div>
  </div>

  <div class="snapshot clearfix">
    <div class="snapshot-inner">
      <div class="metadata">
        <h6>overview</h6>
        <p>{{ .Params.overview }}</p>
      </div>
      
      <div class="metadata">
        <h6>role</h6>
        <p>{{ .Params.role }}</p>
      </div>    

      <div class="metadata">
        <h6>timeline</h6>
        <p>{{ .Params.timeline }}</p>
      </div>      
    </div>
  </div>

  <div class="content">
    {{ .Content }}
  </div>


  {{ with .Params.tags }}
  <div class="tags metadata">
    <strong>tags: </strong>{{ range . }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}