{{ define "main" }}
<div class="section-wrapper work single">
  {{ .Render "summary"}}

  <div class="nav-back"><a href="/work">work</a></div>

  <div class="project-header">
    <h3 class="headline">{{ .Title }}</h3>
    <div class="neo-quote mod">
      <p>{{ .Params.subtitle }}</p>
    </div>
  </div>

  <div class="snapshot clearfix">
    <div class="snapshot-inner">
      <div class="metadata">
        <h6>overview</h6>
        <p>{{ .Params.overview }}</p>
      </div>
      
      {{ with .Params.team }}
      <div class="metadata">
        <h6>team</h6>
        <p>{{ . | safeHTML }}</p>
      </div>
      {{ end }}

      <div class="metadata">
        <h6>role</h6>
        <p>{{ .Params.role }}</p>
      </div>    

      <div class="metadata">
        <h6>timeline</h6>
        <p>{{ .Params.timeline }}</p>
      </div>      
    </div>
  </div>

  <div class="content">
    {{ .Content }}

    {{ with .Params.tags }}
    <div class="tags metadata">
      <strong>tags: </strong>{{ range . }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
    </div>
    {{ end }}
  </div>

  <!-- related projects -->
  <div class="related clearfix">
    <h4 class="headline">related work</h4>

<!-- pick 2 random work pages and make sure it is not the same one -->

                <ul class="post-rels">
                    {{ $page_link := .Permalink }}
                    {{ $tags := .Params.tags }}
                    {{ range $.Site.Pages }}
                    {{ $page := . }}
                    {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
                    {{ if and $has_common_tags (ne $page_link $page.Permalink) }}
                    <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>


    {{ range where .Site.Pages "Params.related" .Params.code }}
      {{ .Render "summary"}}
    {{ end }}
  </div>

  <div class="cross-reference">
    <h4 class="headline">interested in my speaking engagements?</h4>
    <div class="learn-more"><a href="/bospeak/">learn more</a></div>
  </div>
</div>
{{ end }}