<!-- this goes inside of a range .Data.Pages loop -->
{{ $code := .Params.code }}
<div class="summary-work {{ $code }}">
  {{ with .Params.images.background }}
    <figure class="background"><img src="/work/{{ $code }}/{{ . }}"></figure>
  {{ end }}

  <div class="headline-container">
    <a href="{{ .Permalink }}">
      <h3 class="headline">{{ .Title | safeHTML }}</h3>
    </a>
  </div>

  <div class="featured clearfix">
    <div class="mask-group">
    {{ with .Params.images }}
      {{ if .showcase }}
        {{ $featureImageURL := index .showcase 0 }}
        <img class="format" src="/work/{{ $code }}/{{ $featureImageURL }}">
      {{ end }}
      {{ if .device }}
        <img class="device" src="/_images/devices/{{ .device }}">
      {{ end }}
    {{ end }}

    <!-- maybe reserve video for desktop -->
    {{ with .Params.video }}
      <!-- <video class="featured" src="/_images/work/{{ . }}" muted autoplay loop></video> -->
    {{ end }}
    </div>
  </div>

  <a href="{{ .Permalink }}">
    <div class="neo-quote mod">
      <p>{{ .Params.subtitle }}</p>
    </div>
  </a>

</div>