<!-- this goes inside of a range .Data.Pages loop -->
<div class="package-work">
  <h3 data-role="title"><a href="{{ .URL }}">{{.Title}}</a></h3>
  <!-- <i>{{ .Permalink }} | {{ .RelPermalink }} | {{ .URL }}</i>> -->
  <!-- <div class="date metadata">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div> -->

  <img class="garnish" src="/_images/work/clouds.png">

  <div class="featured {{ .Params.code }} clearfix">
    <div class="mask-group">
    {{ with .Params.images }}

      {{ $featureImageURL := index .showcase 0 }}
      <img class="format" src="/_images/work/{{ $featureImageURL }}">

      {{ if .background }}
        <img class="background" src='/_images/work/{{ .background }}'>
      {{ else }}
        <div class="format" data-role="layer"></div>
      {{ end }}

    {{ end }}
    </div>
  </div>

  <!-- maybe reserve video for desktop -->
  {{ with .Params.video }}
    <!-- <video class="featured" src="/_images/work/{{ . }}" muted autoplay loop></video> -->
  {{ end }}


  {{ block "featured" . }}{{ end }}

  <span class="summary">{{ .Summary }}</span>

  {{ with .Params.timeline }}
  <div class="timeline metadata">
    <strong>timeline: </strong>{{ . }}
  </div>
  {{ end }}

  {{ with .Params.tags }}
  <div class="tags metadata">
    <strong>tags: </strong>{{ range . }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
  </div>
  {{ end }}

  {{ if .Truncated }}<span class="ellipsis">...</span><a href="{{ .RelPermalink }}">read more</a>{{ end }}
</div>