body { margin: 0; }

header {
	border-bottom: 1px solid #ccc;
}

header .container {
	max-width: 920px;
	height: 40px;
	margin: 20px auto;
}

.container img {
	float: left;
}

.container h3 {
	float: right;
	margin: 0;
	line-height: 40px;
}

.content {
	position: relative;
	max-width: 920px;
	margin: 100px auto;
	height: 721px;
}

.content .text-wrapper {
	width: 360px;
	position: absolute;
	top: 50%;
-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}

.content .text-wrapper h1 {
	text-align: center;
}

.content.section-odd .text-wrapper {left: 0; }
.content.section-even .text-wrapper {right: 0; }
.content.section-odd img { float: right; }
.content.section-even img { float: left; }

.signup {
	max-width: 680px;
	margin: 200px auto 100px auto;
	text-align: center;
}

.signup img {
	margin-top: 60px;
}


.footer {
	background: #000;
	position: relative;
}

.footer-inner {
	max-width: 920px;
	margin: 0 auto;
	padding: 60px 0;
}

.footer .text-wrapper {
	margin-left: 320px;
	width: 600px;
	color: #fff;
}

.footer img {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}

.footer .text-wrapper p {
	font-size: .8em;

}


@media (max-width: 960px) {
	header .container {
		margin: 20px 30px;
	}

	.content {
		margin: 100px 30px;
		height: auto;
	}

	.content .text-wrapper {
		position: static;
		transform: none;
		margin: 0 auto;
	}

	.content.content img {
		float: none;
		margin: 50px auto;
		display: block;
	}

	.signup {
		margin-top: 150px;
	}

	.footer img {
		position: static;
		transform: none;
		margin: 0 auto 60px auto;
		display: block;
		width: 160px;
	}

	.footer .text-wrapper {
		margin: 0 60px;
		width: auto;
	}
}

@media (max-width: 379px) {
	header .container {height: 30px;}
	header .container img { height: 30px; }
	header .container h3 { line-height: 30px; font-size: 1em }

	.content .text-wrapper,
	.content.content img,
	.signup,
	.signup img {
		width: 300px;
	}
	
	.content .text-wrapper h1 {
		font-size: 1.7em;
	}

	.footer .text-wrapper {
		margin: 0 30px;
	}
}
