header {
	border: 1px solid #ccc;
}

header .container {
	max-width: 920px;
	height: 40px;
	margin: 20px auto;
}

.container img {
	float: left;
}

.container h3 {
	float: right;
	margin: 0;
	line-height: 40px;
}

.content {
	position: relative;
	max-width: 920px;
	margin: 100px auto;
	height: 721px;
}

.content .text-wrapper {
	width: 360px;
	position: absolute;
	top: 50%;
-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}

.content.section-odd .text-wrapper {left: 0; }
.content.section-even .text-wrapper {right: 0; }
.content.section-odd img { float: right; }
.content.section-even img { float: left; }

.signup {
	max-width: 680px;
	margin: 200px auto 100px auto;
	text-align: center;
}

.signup img {
	margin-top: 60px;
}
