{{ define "main" }}
	<header id="header" class="header">
	  <div class="header-content">
	  	{{ partial "svg/signature.svg" . }}
	    <div class="summary">{{ .Content }}</div>
	  </div>
	</header>

	<div id="exhibit" class="exhibit">
	  <div class="exhibit-inner-wrapper">
	    <div class="ceiling"></div>
	    <div class="frame">
	      <!-- highlighed work or inspirations or something just delightful and exquisite -->
	    </div>

	    <div class="floor">
	      <div class="spectators">
	        <img src="/_images/objects/{{ .Params.object }}">
	      </div>
	    </div>
	  </div>
	</div>

	{{ if .Params.showFeaturedContent }}
		<div id="featuredContent" class="featured-content">
		  <section>
		    <img src="/_images/-scott-webb-258983.jpg">
		    <h4 class="headline">“Take in the objects around you. Deliberately restrained, yet emotionally expressive, they reflect the aesthetics of China’s Song dynasty, regarded by connoisseurs as a pinnacle of Chinese art and culture. Song China was prosperous, vibrant, and advanced. Moveable type, paper money, and printed books were all part of urban life. The first Song capital 汴京 (today’s 开封) was the most populous city in the world; its multicultural population included Buddhists, Daoists, Muslims, Jews, and Christians. Refined and deeply considered, Song aesthetics were defined by penetrating thinkers - scholars, critics, poets, statesmen - and circulated throughout China’s imperial and urban realms. Song taste continues to permeate art even today."</h4>
		  </section>

		  <section>
		    <!-- latest pics from instagram? -->
		  </section>
		</div>
	{{ end }}
{{ end }}