/**
 * 1. Always use rem for font size, this is the "trigger" for any component
 * 1. Size in em if the property scales with its component's font-size
 * 2. Size everything else in rem. (such as fixed grid gutter, etc)
 */

body {
  background-color: $primary-white;
  font-size: $base-size;
  font-weight: 100;
  margin: 0;
}

.headline {
  font-family: $header-font;
  font-weight: 700; /* if use EB Garamond */
  font-weight: 200; /* if use Caslon */
  text-align: center;
  line-height: 1.1;

  h1& { font-size: 3.5em; }
  h2& { font-size: 3em;   }
  h3& { font-size: 2.5em; }
  h4& { font-size: 2em;   }
  h5& { font-size: 1.5em; }
  h6& { font-size: .9em;   }
}

.section-wrapper {
  position: relative;
  margin: 4em 0 0 0;
}

section {
  position: relative;
}

.menu .writing {
  display: none;
}




footer {
  background-color: $secondary-black;
  position: relative;

  .footer-inner {
    position: relative;
    width: $content-width-mobile-s;
    margin: 0 auto;

    figure.wordmark {
      float: right;
      margin: 2rem 0;

      img { width: 8rem; }
    }

    .headline {
      position: absolute;
      left: 0;
      bottom: 2rem;
      color: $primary-white;
      text-align: left;
      font-weight: 100;
    }
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (--mobile-m) {
  footer {
    .footer-inner {
      width: $content-width-mobile-m;
      figure.wordmark { img { width: auto; } }
    }
  }
} 

@media (--desktop-s) {
}

