/**
 * 1. Always use rem for font size, this is the "trigger" for any component
 * 1. Size in em if the property scales with its component's font-size
 * 2. Size everything else in rem. (such as fixed grid gutter, etc)
 */

body {
  background-color: $primary-white;
  font-size: $base-size;
  font-weight: 100;
  margin: 0;
}

.headline {
  font-family: $header-font;
  font-weight: 700; /* if use EB Garamond */
  font-weight: 100; /* if use Caslon */
  text-align: center;

  h1& { font-size: 3.5em; }
  h2& { font-size: 3em;   }
  h3& { font-size: 2.5em; }
  h4& { font-size: 2em;   }
  h5& { font-size: 1.5em; }
  h6& { font-size: .9em;   }
}

p {
  font-family: $content-font;
  font-size: .85rem;
  font-weight: 300;
}

.section-wrapper {
  margin: 4em 0 0 0;
}








section {
  position: relative;
}

.menu .writing {
  display: none;
}




footer {
  margin-top: 4em;

  .headline {
    padding: 1em;
    color: $secondary-black;
    display: none;
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* single-liner works like this */
body {
  opacity: 1 ?if media (min-width: $mobile-m-width);
}

@media (--mobile-l) {
  .summary-work {
    font-size: 1.25rem;
  }
} 

@media (--desktop) {
  --column-num: 2;

  .summary-work {
    font-size: 1.5rem;
    float: left;
  }
}

