/**
 * 1. Always use rem for font size, this is the "trigger" for any component
 * 1. Size in em if the property scales with its component's font-size
 * 2. Size everything else in rem. (such as fixed grid gutter, etc)
 */

body {
  background-color: $primary-white;
  font-family: $content-font;
  font-size: $base-size;
  font-weight: 100;
  margin: 0;
}

.site-wrapper {
  margin: 4em 0 0 0;
  padding: 1em;
}







section {
  position: relative;
}

.menu .writing {
  display: none;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

/* single-liner works like this */
body {
  opacity: 1 ?if media (min-width: $mobile-m-width);
}

@media (--mobile-l) {
  .summary-work {
    font-size: 1.25rem;
  }
} 

@media (--desktop) {
  --column-num: 2;

  .summary-work {
    font-size: 1.5rem;
    float: left;
  }
}

