/**
 * 1. Always use rem for font size, this is the "trigger" for any component
 * 1. Size in em if the property scales with its component's font-size
 * 2. Size everything else in rem. (such as fixed grid gutter, etc)
 */

body {
  background-color: $primary-white;
  font-size: $base-size;
  font-weight: 100;
  margin: 0;
}

.section-wrapper {
  position: relative;
  margin: 4em 0 0 0;

  .section-wrapper-inner {
    position: relative;
    background-color: rgba(255, 255, 255, .9);
    background-color: $primary-white;
    z-index: 999;
  }
}

section {
  position: relative;
}

.menu .writing {
  display: none;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */


