/* ==========================================================================
   .neo-quote: The subtitle which features the「 」symbol 
   ========================================================================== */

.neo-quote {
	position: relative;
	padding: 1.5em;
	max-width: 14em;
	margin: 0 auto;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);

	p {
		margin: 0;
		font-family: $header-font;
		font-size: 1em;
		font-weight: bold;
	}

	&:before {
		content: $neo-quote-left;
		color: $primary-black;
		font-size: 1.5em;
		position: absolute;
		left: -0.5em;
		top: .5em;
		font-weight: 100;
	}

	&:after {
		content: $neo-quote-right;
		color: $primary-black;
		font-size: 1.5em;
		position: absolute;
		right: -0.5em;
		bottom: .5em;
		font-weight: 100;
	}

	@media (--mobile-m) {
		/* max-width: 20rem; */
	}
}


/* ==========================================================================
   .nav-back: Simple link to nav back to parent directory 
   ========================================================================== */

.nav-back {
	position: relative;
	width: 17.5rem; /* wider than the usual content width */
	margin: 0 auto;
	padding-left: 1.2rem;

	a {
		font-size: 1.2rem;
		font-weight: 900;
	}

	&:before {
		position: absolute;
		content: $triangle-left;
		left: 0;
		font-size: 2em;
		line-height: .6;
		font-weight: 100;
		text-decoration: none;
	}
}

/* ==========================================================================
   .metadata: The metadata entry in single page 
   ========================================================================== */

.metadata {
	margin: 1rem 0;

	h6 {
		font-family: $content-font;
		font-weight: 500;
		font-size: .9em;
		color: #aaa;
	}

	p {
		/* margin: .25rem 0 0 0; */
	}
}

/* ==========================================================================
   .tags: Tags for the entry 
   ========================================================================== */

.tags { 
	/* display: none;  */
	width: $content-width-mobile-s;
	font-family: $header-font;
	font-size: 1.2rem;
}



