/* ==========================================================================
   .headline: mr.bo trademark lowercase headline 
   ========================================================================== */

.headline {
  font-family: $header-font;
  font-weight: 700; /* if use EB Garamond */
  font-weight: 200; /* if use Caslon */
  text-align: center;
  line-height: 1.1;

  h1& { font-size: 3.5em; }
  h2& { font-size: 3em;   }
  h3& { font-size: 2.5em; }
  h4& { font-size: 2em;   }
  h5& { font-size: 1.5em; }
  h6& { font-size: .9em;  }

  @media (--tablet) { 
    h1& { font-size: 4.5em; }
    h2& { font-size: 4em;   }
    h3& { font-size: 3.5em; }
    h4& { font-size: 3em;   }
    h5& { font-size: 2.5em; }
    h6& { font-size: 1.2em;  }
  }
}

/* ==========================================================================
   .scroll-down: an animated arrow to indicate user to scroll down 
   ========================================================================== */

.scroll-down {
	position: absolute;
  transform: translateX(-50%) rotate(-45deg);
  left: 50%;
  color: $primary-white;
  font-size: 1.5rem;
  font-weight: 100;
  animation: scroll-down 2s ease-out infinite;
}

@keyframes scroll-down {
  0% {
    transform: translate3d(-50%,0,0) rotate(-45deg);;
    opacity: 1;
  }

  50% {
    transform: translate3d(-50%,.2em,0) rotate(-45deg);
    opacity: 0.8;
  }
}

/* ==========================================================================
   .neo-quote: The subtitle which features the「 」symbol 
   ========================================================================== */

.neo-quote {
	position: relative;
	padding: 1.5em;
	margin: 0 auto;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	max-width: calc($content-width-mobile-s - 2rem);

	p {
		margin: 0;
		font-family: $header-font;
		font-size: 1em;
		font-weight: 300;
	}

	&:before {
		content: $neo-quote-left;
		font-size: 1.5em;
		position: absolute;
		left: -0.5em;
		top: .5em;
		font-weight: 100;
	}

	&:after {
		content: $neo-quote-right;
		font-size: 1.5em;
		position: absolute;
		right: -0.5em;
		bottom: .5em;
		font-weight: 100;
	}

	@media (--mobile-m) { max-width: calc($content-width-mobile-m - 2rem); }
	@media (--mobile-l) { max-width: calc($content-width-mobile-l - 2rem); }
	@media (--tablet) { max-width: 25rem; font-size: 1.6rem; }
	@media (--desktop-s) { max-width: 18rem; font-size: 1.1rem; }
}

.quote {
	width: 80%;
	margin: 0 0 4rem 20%;

	.content {
		font-family: $header-font;
		padding: 2rem 0 0 1rem;
		margin: 0;
		position: relative;
		display: inline-block;
		font-style: italic;
		font-size: 1em;

		&:before {
			font-family: serif;
			content: $quote-left;
			position: absolute;
			font-size: 5em;
			color: $classic-grey;
			font-weight: 900;
			z-index: -1;
			left: 0; 
			top: -2rem;
			font-style: normal;
		} 
		
		&:after { 
			font-family: serif;
			content: $quote-right;
		}
	}

	.author {
		font-family: $header-font;
		font-size: .8em;
		margin: 2rem 0 0 .5rem;
		color: $classic-grey;
	}

	@media (--desktop-s) { font-size: 1.5rem; }
}

/* ==========================================================================
   .marquee: the fixed full page "cover" on mobile for section list pages
   ========================================================================== */

.marquee {
	height: calc(100vh - 4rem);
	position: relative;

	.fixed-holder {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		top: 4rem;
		width: $content-width-mobile-s;
		margin: 0 auto;
		z-index: 1;

		.headline {
			position: relative;
			text-align: left;
			margin: 4rem 0;

			@media (--desktop-s) { font-size: 5rem; }		
		}

		.blurb { 
			margin: 4rem 0;
		}

		@media (--mobile-m) { width: $content-width-mobile-m; }
		@media (--mobile-l) { width: $content-width-mobile-l; }		
		@media (--tablet) { width: $content-width-tablet; }		
		@media (--desktop-s) { width: $content-width-desktop-s; }		
	}

	.background-insert {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 4rem);
		z-index: 0;
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		/* filter: blur(3px); */
	}

	@media (--desktop-s) {
		height: auto;

		& {
			.fixed-holder {
				position: relative;
				top: 0;
			}

			.background-insert {
				position: absolute;
				top: 0;
				height: 100%;
			}	
		}
	}
}

/* ==========================================================================
   .nav-back: Simple link to nav back to parent directory 
   ========================================================================== */

.nav-back {
	position: relative;
	width: $content-width-mobile-s;
	margin: 0 auto;
	padding-left: 1.2rem;

	a {
		font-size: 1.2rem;
		font-weight: 900;

		@media (--tablet) { font-size: 1.5rem; }

		&:before {
			position: absolute;
			content: $triangle-left;
			left: 0;
			top: .25em;
			font-size: 1.5em;
			line-height: .6;
			font-weight: 100;
			text-decoration: none;
		}
	}

	@media (--mobile-m) { width: $content-width-mobile-m; }
	@media (--mobile-l) { width: $content-width-mobile-l; }
	@media (--tablet) { width: $content-width-tablet; }
}

/* ==========================================================================
   .metadata: The metadata entry in single page 
   ========================================================================== */

.learn-more {
	position: relative;
	padding-right: 1.2rem;
	display: inline-block;
	font-size: 2rem;

	a { font-weight: 200; }

	&:after {
		position: absolute;
		content: $triangle-right;
		font-size: .8em;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		line-height: .6;
		font-weight: 100;
		text-decoration: none;
	}
}

/* ==========================================================================
   .metadata: The metadata entry in single page 
   ========================================================================== */

.metadata {
	margin: 1rem 0;

	h6 {
		font-family: $content-font;
		font-weight: 500;
		font-size: .9em;
		color: #aaa;
	}

	p { font-size: .9em; }

	@media (--tablet) { font-size: 1.3rem; }
}

/* ==========================================================================
   .tags: Tags for the entry 
   ========================================================================== */

.tags { 
	/* display: none;  */
	width: $content-width-mobile-s;
	font-family: $header-font;
	font-size: 1.2rem;
}
