/**
 * 1. Always use rem for font size, this is the "trigger" for any component
 * 1. Size in em if the property scales with its component's font-size
 * 2. Size everything else in rem. (such as fixed grid gutter, etc)
 */


/*
  Or add your statements here:
 */
/* The :root selector matches the document's root element. */

body {
  font-family: sans-serif;
  font-size: $base-size;
  text-align: center;
}

.section-wrapper {
  margin-top: 64px; /* TODO: use em instead */
  padding: 32px 16px;
}

.block-main {
  font-size: 1rem;
  border: .125em solid green;
  margin: 0 1em;
  padding: 1em;
}

.summary-work {
  font-size: 1rem;
  border: .125em solid black;
  margin: 1em .5em;
  padding: 1em;
  width: calc(((100 / var(--column-num)) * 1%) - 1em); /* niiiiice */

  .metadata {
    color: $pink; 
    font-size:.75rem;
    margin: .5em; /* the margin is always half of the font size */
  }
}









body {
  font-family: $mrbo-primary-font;
  font-weight: 100;
  background-color: $mrbo-primary-white;
  margin: 0;
}

section {
  position: relative;
}

.menu .writing {
  display: none;
}
