/* ==========================================================================
   bespoke scroll has three parts: header, exhibit and the first featured post
   ========================================================================== */

.header {
	background-color: $primary-black;
	position: relative;
	z-index: 100;
	box-shadow: $box-shadow;

	.header-content {
		font-size: 1rem;
		color: $primary-white;

		.signature {
			position: absolute;
			width: 4em;
			height: 4em;
			top: 4em;
			left: 1em;

			g { fill: $primary-white; }
		}

		summary {
			position: absolute;
			bottom: 2em;
			right: 1em;
			left: 1em;
			margin: .5em 0;
		}

		&:after {			
			content: $arrow-right;
			font-size: 1.1em;
			bottom: .8em;

			@extend horizontal-align;
			position: absolute;
			transform: translateX(-50%) rotate(90deg);
		}
	}
}


.exhibit-inner-wrapper {
	/**
	 * could apply background pattern outside of the frame
	 * 	 background-image: url("../_images/white-wall.jpg");
	 *   background-size: 200px;
	 *   background-size: cover; 
	 */
	width: 100%;
	top: 0;

	.frame {
		position: relative;
		border: .5em solid $primary-black;
	}

	.floor {
    text-align: center;
    background: $space-grey;
    border-top: .125em solid color($space-grey blackness(23%));;

    .spectators {
    	position: relative;
    	z-index: 1;

			img {
				position: relative;
				height: 100%;
			}

			.spectator-1 { left: -4em;}
    }
	}
}



/* ==========================================================================
   from here, default to sane default scroll lol
   ========================================================================== */

.featured-content {
	.first-post {
		padding-top: $nav-height-mobile;
		background: $space-grey;
	}

	section {
		position: relative; /* just incase we do out-of-box styling */

		img {
			width: 100%;
		}
	}
}




/* ==========================================================================
   RESPONSIVE: extract "responsive" attributes from above and put'em here
   ========================================================================== */

/* FLOOR MUST BE THE SAME HEIGHT AS NAV HEIGHT, SO THERE IS NO NEED FOR FLOOR-HEIGHT VARIABLE! */

.header-content {
  height: calc(100vh - 6em + 1em);
}

.exhibit {
  height: calc(100vh + $nav-height-mobile); /* 100vh + $exhibit-floor-mobile */

  &:after {
  	visibility: hidden;
  }

	.exhibit-inner-wrapper {
		height: calc(100vh + $nav-height-mobile); /* 100vh + $exhibit-floor-mobile */

	  .ceiling {
	    height: $nav-height-mobile;
	  }

	  .frame {
	    height: calc(100vh - 2*$nav-height-mobile - 6em); /* viewport - navHeight - floorHeight - elevationHeight */
	    margin: $nav-height-mobile 40px 6em 40px; /* margin-top: navHeight, margin-bottom: elevationHeight */
	    box-shadow: 7px 12px 12px 0 rgba(0,0,0,.2);
	    box-shadow: 6px 10px 6px 0 rgba(0,0,0,.2);
	  }

	  .floor {
	    height: $nav-height-mobile;

	    .spectators {
	      height: 84px;
	      top: -64px;
	    }
	  }
	}
}


@media (--mobile-s) {
	.exhibit {
		font-size: 1rem;
		&:after { content: '64, 96'; } /* 4em, 6em (1em = 16) */
	}
}

@media (--mobile-m) {
	.exhibit {
		font-size: 1.25rem;
		&:after { content: '64, 120'; } /* 4em, 6em (1em = 20) */
	}
}

@media (--mobile-l) {
	.exhibit {
		font-size: 1.5rem;
		&:after { content: '64, 144'; } /* 4em, 6em (1em = 24) */
	}
}









/* forget about it for now... let's do a different layout for desktop */
@media (--desktop) {
	.header-content {
		height: calc(100vh - $exhibit-floor-desktop);
	}

	.exhibit {
		height: calc(100vh + $exhibit-floor-desktop);
	}

	.exhibit-inner-wrapper {
		height: calc(100vh + $exhibit-floor-desktop);

		.ceiling {
			font-size: 8rem;
		}

	  .frame {
	    margin: 160px auto 192px auto;
	    box-shadow: 8px 16px 20px 0 rgba(0,0,0,.3);
	    max-width: 720px;
	  }

	  .floor {
	  }
  }
}




/* ==========================================================================
   inside sections
   ========================================================================== */




.menu {
  .item a {
    font-size: 28px;

    @media (min-width: $mrbo-desktop) {
      font-size: 40px;
    }
  }
}
